[2019-09-30 15:46] MS-Fiware opened #1 ""Id is missing" on subscription creation (POST /subscriptions)"
Hi,

when trying to create a subscription with POST /subscriptions I get a "500 Internal Server Error" in the HTTP response, although the [spec](https://www.etsi.org/deliver/etsi_gs/CIM/001_099/009/01.01.01_60/gs_CIM009v010101p.pdf) states that at creation time the id is optional and is assigned during subscription process, if not provided.

My request:

`curl -X POST \
  http://192.168.57.101:909

[2019-09-30 16:13] MS-Fiware opened #2 "Value of request parameter 'limit' can't be greater than existing elements"
Hi,

I try to limit the number of returned Subscriptions using the request parameter 'limit'. However, when the provided value of 'limit' is greater than the number of existing elements, I receive a "500 Internal Server Error" in the HTTP response.

My request:

`curl -X GET \
  'http://192.168.57.101:9090/ngsi-ld/v1/subscriptions?limit=1' \
  -H 'Accept: application/ld+json' \
  -H 'Link: <https:

[2019-10-01 08:45] ScorpioBroker commented on #2
Hi should be fixed now with the latest commit.

[2019-10-01 08:45] #2 closed

[2019-10-01 08:46] ScorpioBroker commented on #1
Fixed in the latest commit. (De)Serialization was a bit to tight here.

[2019-10-01 08:46] #1 closed

[2019-10-01 09:38] MS-Fiware commented on #2
Thanks, but still not working. :(

[2019-10-01 09:49] MS-Fiware opened #4 ""invalid @id value: value of @id must be a string" on subscription update (PATCH /subscriptions/{subscriptionId})"
Hi,

when trying to patch a subscription with PATCH /subscriptions/{subscriptionId} I get a "500 Internal Server Error" in the HTTP response.

My request:

`curl -X PATCH \
  http://192.168.57.101:9090/ngsi-ld/v1/subscriptions/urn:ngsi-ld:Subscription:838170928 \
  -H 'Content-Type: application/ld+json' \
  -d '{
    "notification": {
        "attributes": [
            "id",
            "type",

[2019-10-01 10:24] mainakae opened #5 "Location property value shouldn't be scaped"
Hello all,

I've noticed that the value of the Location property has to be scaped in order for it to work. As I understand, this doesn't follow the specification, and as such should be fixed.

Example of how it's working as of now:

[code]

And how it should be:

[code]

Thanks for your time and the great work you are putting in this project, and best regards.
Pedro.

[2019-10-01 11:01] MS-Fiware opened #6 ""Bad Request Data" on context source registration creation (POST /csourceRegistrations)"
Hi,

when trying to create a context source registration with POST /csourceRegistrations I get a "400 Bad Request Data" in the HTTP response, although the [spec](https://www.etsi.org/deliver/etsi_gs/CIM/001_099/009/01.01.01_60/gs_CIM009v010101p.pdf) states that at creation time the id is optional and is assigned during registration process, if not provided.

My request:

`curl -X POST \
  http://1

[2019-10-01 11:10] MS-Fiware opened #7 ""Bad Request Data" on discovering context source registrations (GET /csourceRegistrations)"
Hi,

when trying to retrieve all context source registrations with GET /csourceRegistrations I get a "400 Bad Request Data" in the HTTP response.

My request:

`curl -X GET \
  http://192.168.57.101:9090/ngsi-ld/v1/csourceRegistrations \
  -H 'Accept: application/ld+json' \
  -H 'Link: <https://schema.lab.fiware.org/ld/context>; rel="http://www.w3.org/ns/json-ld#context"; type="application/ld+json

[2019-10-01 11:55] ScorpioBroker commented on #7
Hi,

we have done it like this because chapter 5.10.2.4 states "If neither Entity types nor Attribute names are provided, an error of type BadRequestData shall be raised." for the API interaction with the CSourceRegistry.
Best Regards
Benjamin

[2019-10-01 13:36] MS-Fiware commented on #7
Thanks for the hint. I skipped that text passage in the spec.

I added `?type=<Entity_Type_For_Which_Information_Is_To_Be_Retrieved_From_The_Csource>` to the query string and it works now. :)

[2019-10-01 15:21] MS-Fiware opened #8 ""Not Found" on csource registration subscription (POST /csourceSubscriptions)"
Hi,

when trying to create a context source registration subscription with POST /csourceSubscriptions I get a "400 Not Found" in the HTTP response.

My request:

`curl -X POST \
  http://192.168.57.101:9090/ngsi-ld/v1/csourceSubscriptions \
  -H 'Content-Type: application/ld+json' \
  -d '{
    "id": "urn:ngsi-ld:Subscription:MyAwesomeCsourceSubscription",
    "type": "Subscription",
    "descript

[2019-10-02 14:39] ScorpioBroker commented on #8
Hi,

this is implemented unfortunately a typo made into the commit it should be fixed now.

Regards
Benjamin

[2019-10-02 14:39] ScorpioBroker commented on #4
Hi,

should be fixed now. Was a problem with expanding the attribute values in the json.

Regards
Benjamin

[2019-10-02 14:40] ScorpioBroker commented on #2
Did another update should be good now.

Regards
Benjamin

[2019-10-02 14:41] ScorpioBroker commented on #6
Should be fixed by now.
Serializererror.

BR
Benjamin

[2019-10-04 12:59] michaeI-s opened #9 "RegistryManager throws exceptions on startup"
Hi,

after the latest commit on Oct 2, 2019, when starting the RegistryManager the following exceptions is thrown:

[code]

After that some more exceptions of the following type are thrown. Possibly it's only affecting the logging:

`ERROR [[Ljava.lang.String;@308a9264.container-0-C-1] o.s.i.h.LoggingHandler: org.springframework.messaging.MessageDeliveryException: Dispatcher has no subscribers for

[2019-10-04 13:07] michaeI-s opened #10 "SubscriptionManager throws exceptions on startup"
Hi,

after the latest commit on Oct 2, 2019, when starting the SubscriptionManager the following exceptions is thrown:

[code]

After all the SubscriptionHandler seems to run, though.

Greetings,
Michael

[2019-10-04 13:39] MS-Fiware opened #11 ""Internal server error" on entity attribute update (PATCH /entities/{entityId}/attrs/{attr})"
Hi,

when trying to patch a entity attribute with PATCH /entities/{entityId}/attrs/{attr} I get a "500 Internal Server Error" in the HTTP response.

My request:

[code]

The response body:

[code]

On the server side an exception occurs within the EntityController of the EntityManager:

[code]

I tested with the latest commit https://github.com/ScorpioBroker/ScorpioBroker/commit/d1f7c9a8349bcd491c

[2019-10-04 13:43] MS-Fiware commented on #2
Great, works now!

Best regards,
Michael

[2019-10-04 13:48] MS-Fiware commented on #4
Thanks, seems also to be good right now. :)

[2019-10-04 13:57] MS-Fiware commented on #6
Thanks also for this fix. Seems to be good now :)

[2019-10-04 14:35] MS-Fiware commented on #8
Thanks, works like a charm. Keep up the good work! :)

[2019-10-05 10:54] michaeI-s opened #12 "csource registration subscription without 'watchedAttributes' attribute can not be retrieved in list (GET /csourceSubscriptions)"
Hi,

when creating a csource registration subscription without the 'watchedAttributes' attribute (which is optional and can be undefined -> meaning all possible attributes in the csource registrations for matching entities match) and trying afterwards to retrieve that created subscription within a list (GET /csourceSubscriptions) I get a "500 Internal Server Error" in the HTTP response.
On the con

[2019-10-05 11:57] MS-Fiware opened #13 "Structure / Property Naming of Context Source Registration Subscriptions"
Hi,

I noticed a difference in the structure of a csource registration subscription object when retrieved as a single object via GET /csourceSubscriptions/{subscriptionId} or within a full list using GET /csourceSubscriptions/.
As part of an element in a list it preserves the expected structure according to spec.
Whereas requested as single object it contains some properties with names different t

[2019-10-06 12:42] Glagnar opened #14 "Java 11 support"
There is an issue with newer versions of Java, but it is very easy to solve:
https://crunchify.com/java-11-and-javax-xml-bind-jaxbcontext/

I added:
[code]
To the pom.xml and everything worked fine.

[2019-10-07 07:28] MS-Fiware commented on #14
Good to see this pointed out here. I already created a pull request with an updated README.md addressing this issue. Hopefully it's going to be merged soon.

[2019-10-07 07:53] #4 closed

[2019-10-07 07:55] ScorpioBroker commented on #5
Hi,

yes we will change this to support both input variants. This is a bit of an "ugly" solution because of some problems with geo json and json-ld. geo json allows this so it's kind of fine. But will definately address this in one of the next updates.

Thanks & Regards
Benjamin

[2019-10-07 07:55] #6 closed

[2019-10-07 07:55] #7 closed

[2019-10-07 07:56] #8 closed

[2019-10-07 07:59] ScorpioBroker commented on #14
Hi,

i merged the documentation. I will look into updating the pom file for the support of java 11.

Thanks & Regards
Benjamin

[2019-10-07 08:00] MS-Fiware commented on #14
Thanks again for quick reaction times. :)

[2019-10-07 18:29] MS-Fiware opened #15 ""Not Found" on batch entity creation (POST /entityOperations/create)"
Hi,

when trying to do a batch entity creation with POST /entityOperations/create I get a "404 Not Found" in the HTTP response.

My request:

[code]

The response body:

[code]

Are batch operations not yet implemented?

I tested with commit https://github.com/ScorpioBroker/ScorpioBroker/commit/d1f7c9a8349bcd491cda8e9f2a226fc3decdbd99.

Greetings,
Michael

[2019-10-08 13:46] MS-Fiware opened #16 "Stricter format check for DateTime values"
Hi,

while playing around with temporal representations and time queries I noticed that DateTime passed in query parameters are not parsed very strictly. The spec clearly states that DateTime must be expressed in UTC using the `YYYY-MM-DDThh:mm:ssZ` format as defined in ISO 8601. This means all the components, including the trailing time zone character 'Z'.

Chapter 4.6.3 states "All the referred

[2019-10-08 14:43] michaeI-s opened #17 "Simplified representation of temporal query not working"
Hi,

adding the request parameter `options=temporalValues` does not generate the expected simplified output, but instead returns a "400 Bad Request Data".

e.g.
GET `/temporal/entities?type=AirQualityObserved&timerel=after&time=2019-01-01T12:00:00Z&options=temporalValues`

gives the following response:

[code]

When stripping the `options` parameter I got a 200 OK.
Please refer to chapters 6.3.12

[2019-10-08 20:31] michaeI-s opened #18 ""Invalid request" on temporal entity representation creation (POST /temporal/entities)"
Hi,

when trying to create a temporal entity representation with POST /temporal/entities I get a "400 Invalid Request" in the HTTP response.

My request:

[code]

The response body:

[code]

The detail message claims 'createdAt' and 'modifiedAt' to be required fields. When including these fields the request succeeds. But in fact this is a wrong behavior as both fields are system generated and shou

[2019-10-08 21:10] michaeI-s opened #19 "Temporal query responses should not expose system-generated attributes by default"
Hi,

when doing a temporal query like

GET `/temporal/entities?type=AirQualityObserved&timerel=after&time=2018-01-01T12:00:00Z`

I get a response like

[code]

As you can see the response object is cluttered with all those 'createdAt' and 'modifiedAt' attributes. I do not expect them here, since I did not explicitly requested them. Look in chapter 5.2.2 for the following paragraph:

Clause 6.3.11

[2019-10-09 09:44] michaeI-s opened #20 "Prohibit addition of attribute instances to a non-existing temporal entity representation"
Hi,

when trying to add attribute instances to a temporal representation of an entity which does not exist, the NGSI-LD endpoint should reply with a `ResourceNotFound` error. Instead it returns a `204 No Content` which implies a successful addition of the attributes.

Chapter 5.6.12.4 of the spec describes the intended behavior:

My example request:

[code]

As you can see I tried to add some `tem

[2019-10-09 11:46] michaeI-s opened #21 "PATCHing an attribute instance from a temporal entity representation results in "Resource not found" error"
Hi,

when trying to modify an attribute instance from a temporal entity representation with PATCH /temporal/entities/{entityId}/attrs/{attrId}/{instanceId} I get a "404 Resource not found" in the HTTP response.

My request:

[code]

The response body:

[code]

According to spec this error occurs, if neither the target entity, the target attribute nor the targeted attribute instance is known to the

[2019-10-09 12:07] michaeI-s opened #22 "<instanceId of a NGSI-LD property not automatically generated by system"
Hi,

the `instanceId` of a NGSI-LD property should be automatically generated, if not provided on attribute creation. See chapter 4.5.2 of the spec.

It also says

So when creating temporal information with POST /temporal/entities
or when adding new attribute instances with POST /temporal/entities/{entityId}/attrs
without defined `instanceId`s for those attributes, they are expected to be automati

[2019-10-09 14:13] ScorpioBroker commented on #14
Hi to give a final update here i've added a jdk depended profile in the build of the eureka server providing jaxb if the jdk 9 or bigger.

[2019-10-09 14:13] #14 closed

[2019-10-09 14:16] ScorpioBroker commented on #16
Hi,

yes you are right the forgiving parser for datetime was still in there from dev.
I removed it and will push in a few minutes.

Best Regards
Benjamin

[2019-10-09 14:16] #16 closed

[2019-10-09 14:21] ScorpioBroker commented on #15
Hi,

no batch operations are currently not in yet as they were one of the later additions.
Since they basically an array wrapping around input and output i don't forsee much problems for the implementation (famous last words)  and will add them soon.

Best Regards
Benjamin

[2019-10-14 14:26] jmcanterafonseca commented on #15
is the error response compliant with the specification?

[2019-10-14 14:31] jmcanterafonseca commented on #19
createdAt and modifiedAt do not have the trailing `Z` ... in some cases

also, in temporal queries all Attributes should be represented by an array ...

[2019-10-14 14:33] jmcanterafonseca commented on #18
`detail` as per https://tools.ietf.org/html/rfc7807 is a string not an array ... please check compliance

[2019-10-14 14:34] jmcanterafonseca commented on #11
same again please check detail

[2019-10-14 15:36] MS-Fiware commented on #15
Since this feature is not implemented yet, it's like a request for a resource which is not found on the server, so the specification can't be applied here. Hence a "404 Not Found" is OK I guess.

[2019-10-15 09:47] ScorpioBroker commented on #11
Hi, i addressed the issue in the most recent commit. It should be fixed now.

Best Regards
Benjamin

[2019-10-15 09:47] #11 closed

[2019-10-15 13:37] ScorpioBroker commented on #13
Hi,

fixed the output generation.

Best Regards
Benjamin

[2019-10-15 13:37] #13 closed

[2019-10-15 14:17] MS-Fiware commented on #13
Thanks!

All the best,
Michael

[2019-10-21 15:06] ScorpioBroker commented on #5
Hi i updated the parsing and we now allow both as input for the broker and will only provide the none escaped version as output.

BR
Benjamin

[2019-10-22 07:50] #5 closed

[2019-10-28 14:56] mainakae opened #26 "Subscription manager consuming unusual amounts of resources"
Hello everyone,

Today I had to reboot the subscription manager, as it was taking too many resources: CPU was over 70% (global, all cores involved) on that process, and abobe 4GB of ram. After rebooting the microservice, the CPU has gone down, to about 40% and ram to 2.76GB.

Upon inspection of the broker, the logs of the subscription manager where:
[code]

There where just 3 subscriptions current

[2019-10-28 15:36] mainakae commented on #26
**UPDATE:**

Checking with glances and later with iftop, I have also noticed an unusual network usage between kafka and the subscription manager. Kafka is sending towards Subscription Manager at rates above 2Gbps.

[2019-10-28 16:05] mainakae opened #27 "Subscriptions to geo entity not working"
Hello everybody,

I think there's some problem with the subscription mechanism, by which no notification is being delivered for an entity. Here is a usecase to reproduce it:

First, create a subscription for entities of type *http://www.w3.org/2003/01/geo/wgs84_pos/Point*:
[code]

Careful to replace `<some endpoint here>` with the actual ip of an open REST endpoint (in my case I'm using Mitm Proxy

[2019-10-29 09:22] mainakae opened #28 "Subscriptions to entities not sending notifications on update"
Hello everybody,

We are facing again the issue of not receiving notifications uppon entity update. We do receive notifications uppon entity creation, though, but not on update of existing attributes (see example below for recreating the issue) nor on attribute insertion.

**Steps to reproduce:**

 0. Stablish some HTTP endpoint to receive notifications (I'm using mitmproxy)
 1. Create a subscript

[2019-10-29 10:03] mainakae opened #29 "Broker consuming big amounts of RAM"
Hello everybody,

In our deployment (docker version with each micro-service running standalone in a container), the whole set of microservices composing the broker is taking as much as 14GB of RAM. This is limiting our capability to test different scenarios (namely distribution and federation), as we need to allocate a relatively high amount of resources to deploy several broker instances.

Thanks

[2019-10-30 09:23] mainakae opened #30 "Subscription notification after updating fields with the same previous value"
Hello everyone,

Today I've noticed that the broker issues notifications on fields that have been updated to the same previous value (that is, patching the entity with the same values than it already has). As of the standard (point 5.8.6 of GS CIM 009 v1.2.1):

Thanks for your time and attention,
Pedro

[2019-10-30 09:28] mainakae opened #31 "Subscription Notificatios not following the structure model according to standard."
Hello everyone,

I've noticed that, according to the standard as defined in _GS CIM 009 V1.2.1_, point 5.3.1, the Notification should follow a different structure as it is being used now. Now the entity is sent as the topmost object in the document being sent, whereas it should be contained in a "data" attribute inside a notification object, that would also contain the time of the notification (no

[2019-10-30 15:57] ScorpioBroker commented on #29
Hi, i was working on that today. So i got a solution for the all in one version where i made a special runner to have everything inside of one jvm. I'll commit this by tomorrow i think. Just have to make sure i didn't damage something else.

[2019-11-04 16:37] jason-fox opened #32 "Diagnosing a startup issue with AAIO"
I’m trying to incorporate Scorpio as an NGSI-LD broker using `docker-compose`

As you can imagine, given the rather sparse documentation at the moment, this is proving rather tricky.

I have created the  `docker-compose` & etc.here: https://github.com/jason-fox/tutorials.Linked-Data

I can start the containers using `./services scorpio` and (eventually) everything appears to have started.

However

[2019-11-07 16:15] ScorpioBroker commented on #29
i haven't yet changed the docker-aaio profile to take advantage of this... will arrive tomorrow

[2019-11-07 16:41] mainakae commented on #26
**Quick follow-up:** although memory consumption is still high for the component, the unusual network usage has gone down after re-creating the components, which  makes me believe that something is playing against rejoining of fallen services.

[2019-11-07 16:48] mainakae opened #33 "Retrieving entity by ID returns 404 even when querying by type finds it"
SETUP: docker container-per-service

After re-creating all services (but postgres) all entities seem to be searchable by regular queries, but accessing those entities straight by ID doesn't find them, just throws a 404 error.

[2019-11-07 16:52] mainakae opened #34 "Query response time higher than most usual REST client libraries timeout"
Hello everyone,

We have been making some tests on the broker and have noticed that most REST client libraries will set a 1000ms timeout for the response, which is way to low for the usual query response time of the broker, even for seemingly simple queries (query by type or with less than 10 resulting entities). This is giving us some integration problems with other current pieces of software.

M

[2019-11-08 10:37] mainakae commented on #29
That's great news, thank you! I'll be testing it as soon as it's ready.

[2019-11-12 13:52] ScorpioBroker commented on #32
Hi Jason,

i uploaded a new build for the aaio runner. To have it compile please run sudo mvn clean package -DskipTests -DskipDefault -Pdocker-aaio.

Regarding your questions.
1. the docker-compose-dist.yml is ment for the docker proifle (the none aaio one). which builds seperate docker containers for the spring cloud modules like the eureka server. The docker-aaio profile builds one container whi

[2019-11-12 17:36] MS-Fiware commented on #32
Hi,

@1)
This does not answer the questions.

When you go to https://hub.docker.com/r/scorpiobroker/scorpio/tags the only tag you can find is the one for the aaio profile. So if you decide to go for the `-dist.yml` variant, you can't fetch each individual resource from the hub. E.g. trying to fetch the eureka-server image from the hub ends up in the following error message: `ERROR: manifest for sc

[2019-11-15 15:23] ScorpioBroker commented on #15
Hi,

so i commited the initial implementation for the entity operations. All of them are present. As a heads up for HTTP return codes... the spec is a bit unclear here to me. In the diagrams it says always to return 200 ok but then also says in the table it could be 400 for failing.
I did the following... if all your requests went through successful it's a 200. If all failed it's a 400 and if it's

[2019-11-15 16:33] MS-Fiware commented on #15
Hi,

these are great news! Finally batch operations made it into Scorpio. Great work! :)

Status code 207 sounds reasonable to me when there's the need for distinguishing between response codes.

Regarding the "all failed" error case it should be differentiated. Status 400 should only be applied if something in the request URL / header / body is malformed or has an invalid structure.
An overall un

[2019-11-18 08:33] mainakae opened #35 "Subscription requires at least one notification.attributes to be specified"
Hello everyone.

According to the specification, a subscription without any specified notification.attributes, should return all of the available properties of the entity. The implementation (as of now) fails returning a 500 error.

**Example**
[code]

**Response**
[code]

Best regards,
Pedro.

[2019-11-18 08:55] mainakae opened #36 "Subscription with watchedAttributes: null breaks subscription mechanism"
Hello everybody,

In this case, issuing a subscription with watchedAttributes set to null, which according to standard should trigger notifications upon change of any attribute, not only returns a 500 error, but also degrades the overall performance of the broker by consuming unusual amounts of resources (both ram and network usage, as described in issue #26).

This is the usecase:

`POST /ngsi-ld

[2019-11-18 09:10] mainakae opened #37 "Wrong selection of Notification object's properties"
Hello everyone,

We have noticed that the Notification object contains more properties than we subscribed to by using `notification.attributes` field. More specifically, it seems to contain aswell the `watchedAttributes` ones.

**Reproduction steps**

Create Subscription
[code]

Create matching entity
[code]

Listen for notification on `http://localhost:3000/api/notification`.

**Actual Result**
[

[2019-11-18 09:45] mainakae opened #38 "Batch operations"
Hello everyone.

Hello, we are trying to use batch operations with no success.

Are they implemented?

Best regards,
Pedro.

[2019-11-18 09:47] ScorpioBroker commented on #38
Hi yes, they are implemented. You'll need to rebuild the gateway as well since it's a new resource mapping. It's not in the current docker image on docker hub yet.

[2019-11-18 09:49] ScorpioBroker commented on #15
Hi,
yes you are right 400 might not be the best choice. I'll have a look if something like multi type errors exist and will update the impl. according to the next update of the spec when it's done. I'll close this for now.
Just as a final remark. For this to work the gateway has to be rebuild since there is a new http resource mapping now.

Best Regards
Benjamin

[2019-11-18 09:49] #15 closed

[2019-11-18 09:53] ScorpioBroker commented on #33
Hi,
yes i think i know how this appears.
2 Reasons
1. kafka docker doesn't keep its state i need to figure out what to save here.
2. at the moment our strategy was to sync from kafka to postgres but not the other way around.
This means if by some reason kafka logs get deleted outside of the flow of the broker (a.k.a. me deleting the log files) there is a missing sync between postgres and kafka. I

[2019-11-18 10:14] MS-Fiware commented on #35
Hi,

have you tried to remove the `"attributes"` attribute or set it to `undefined`? According to spec `"attributes"` shall be undefined in order to include all attributes. Actually `null` is a defined value.

Regards,
Michael

[2019-11-18 10:31] MS-Fiware commented on #38
Duplicate of closed issue #15 ?

[2019-11-18 11:58] mainakae commented on #35
Good point, you are right, null values are disallowed as of NGSI-LD specs.

Anyway, it also happens when the field is left undefined, we where trying different alternatives and tried also with null (just in case).

Best regards,
Pedro

[2019-11-18 12:03] mainakae commented on #38
Not exactly, we also tried delte, upsert and update. :)

[2019-11-18 12:23] mainakae commented on #29
Great! we had the chance to test it, and now it seems a lot better: around 4GB of ram and performing better (queries are answered in less than a second).

Excellent!

[2019-11-18 13:20] #38 closed

[2019-11-18 16:40] anyname2 opened #39 "Failed startup when building AAIO container"
Commit 4d7524b5286da25f79e6df7d27d6e581c931f0fa have broken AAIO container, it now fails to start. The issue is in AllInOneRunner/src/main/resources/application.yml.

Host names for Kafka and PostgreSQL were changed to localhost, which refers to the container itself when executing in docker. This is wrong, since Kafka and PostgreSQL are running in separate containers.

[2019-11-18 17:49] MS-Fiware opened #40 "non-dockerized startup of broker components not possible"
Hi,

I just tried to start each broker component the old fashion way separately on the command line. It seems not to be supported anymore.

At least I get a
`no main manifest attribute, in <PATH>/<FILE>.jar`
when running a `java -jar <PATH>/<FILE>.jar`.

Did you remove some needed manifest files?

Best regards,
Michael

[2019-11-19 08:57] ScorpioBroker commented on #39
Hi, fixed it.
Sorry bad commit

[2019-11-19 08:57] #39 closed

[2019-11-19 09:04] ScorpioBroker commented on #40
Hi,
no didn't change anything there. Just tried it with the QueryManager and it worked.
I added a new var (-DskipDefault) for the building of the aio container which doesn't repackage the individual microservices but only the final runner.jar. This was needed to avoid having multiple 60MB jars inside of the jar. But if you just run it with clean package -DskipTests it should just work normal. Unfo

[2019-11-19 09:06] ScorpioBroker commented on #36
Hi,
i tested this yesterday with the latest commit and didn't get that error. I fixed a few things in the serialization during the runner changes. So maybe i fixed that one "accidentally". On which version did you test this.
Regards
Benni

[2019-11-19 10:22] anyname2 commented on #39
The commit only fixed references to kafka, not Postgre.

[2019-11-19 10:30] anyname2 opened #41 "Batch operations fail in AAIO container"
When trying to execute batch operation it fails with Internal Server Error when running AAIO container.

[code]

Error in the logs:
[code]

[2019-11-19 11:10] ScorpioBroker commented on #41
Hi,
I'm editing the readme at the moment since this is a bit complex with the profiles and what to start ... if you just use the docker container all should just work as it is starting the gateway with correct profile. If you want to run it outside with just the AllInOnRunner.jar you need to run the the gateway.jar with the profile aaio (or aio as those don't differ at the moment).
java -jar gatew

[2019-11-19 11:56] anyname2 commented on #41
I was using AAIO docker container built from latest source and got the error described.

[2019-11-19 13:22] ScorpioBroker commented on #41
oh ok will check that

[2019-11-19 13:23] ScorpioBroker commented on #39
yes sorry fixed that one

[2019-11-19 13:26] ScorpioBroker commented on #41
hi fixed the yml file for the gateway... did change the wrong one initially

[2019-11-19 13:34] MS-Fiware commented on #40
I used the -DskipDefault option, which might have been the reason for failing.
Good to read you're updating the README at this moment. ;)

Best regards,
Michael

[2019-11-19 14:44] #41 closed

[2019-11-19 15:17] #40 closed

[2019-11-20 14:47] anyname2 opened #42 "Subscription with 'q' containing ValueList equality does not send notifications"
When creating a subscription with `q` parameter containing a ValueList equality, no notifications are sent when a matching entity is created.

**Subscription Example**
[code]

**Matching Entity example**

[code]

**Workaround**

Create expression for each value in the list and concatenate using `|` (or) operator.

[code]

[2019-11-21 14:40] anyname2 opened #43 "Large Batch operation returns timeout error, but creates entities after a long delay (25 minutes)"
**Description**

When trying to create a large number (~5500) of entities, scorio responds with timeout error message after 60 seconds. After the response is sent, this [initialLog.txt](https://github.com/ScorpioBroker/ScorpioBroker/files/3875127/initialLog.txt) is written and then the logs are flooded with these 2 messages:
[code]

No entities are created at the time the reponse is returned. But

[2019-11-22 14:44] anyname2 commented on #26
Excessive network usage between Scorpio and Kafka is still reproducible using AAIO docker container. With 6 subscriptions active and 2000 entities being created every 5 minutes (all entities match the same 1 subscription) output of docker stats (NET I/O column) looked like this (30 minutes after start).
[code]

The service generating the entities only had 25MB of network usage (almost 1000 times l

[2019-11-26 16:42] anyname2 opened #44 "Invalid Link header when query results in pagination"
When making a request for entities that would result in more than 50 entieis (or what is set by `limit` URL parameter), `Link` header in response is invalid.

- URI-Reference needs to be followed by `;` before `rel="next"`
- Multiple `Link` headers should be present instead of concatenating 2 links with a comma

**Response**
[code]

**Expected**
[code]

[2019-11-27 11:47] anyname2 opened #45 "DateTime property is serialized differently in notifications and queries"
Consider this entity:
[code]

When queried it is serialized as follows (notice the missing `@` on `dateProp.value.type`):
[code]

When entity is sent in a notification it is serialized as follows (`dateProp.value` is seriazlied as string):
[code]

**Expected behaviour**
All 3 representations should be consistent.

[2019-12-06 09:44] ScorpioBroker commented on #12
Hi is fixed.

[2019-12-06 09:44] #12 closed

[2019-12-06 10:53] #37 closed

[2019-12-06 10:53] #28 closed

[2019-12-06 12:38] michaeI-s commented on #12
Thank you!

[2019-12-06 12:52] ScorpioBroker commented on #27
Hi this is fixed. I forgot to tag this in the commit.

[2019-12-06 12:52] #27 closed

[2019-12-13 13:22] tanktoo opened #47 "Subscriptions without notification attributes not accepted"
Hi,
I tried to do a subscription:

[code]

Subscription is the same as in the examples but I deleted the "attributes" in "notification". I think this should be allowed according to the standard in section 5.2.14.1:

Would be great it this can be checked.

[2019-12-13 13:54] tanktoo commented on #18
Same problem here.

[2019-12-17 12:24] ScorpioBroker commented on #43
Hi,

Since this depends on a few variables it's impossible for me to tell this generally, so i made this now configurable option for each operation
batchoperations:
  maxnumber:
    create: 1000
    update: 1000
    upsert: 1000
    delete: 1000
this very much depends on your hardware how much this can be.
Additionally you can also put a custom timeout on the gateway which will also influence the

[2019-12-17 12:24] #43 closed

[2019-12-17 15:17] ScorpioBroker commented on #47
Hi this should be addressed now and will send all attribs of an entity if the attribute entry is not present in the notification part.

[2019-12-17 15:17] #47 closed

[2019-12-17 15:18] ScorpioBroker commented on #44
Hi should be fixed now. you'll get different links now and the entry is fixed.

[2019-12-17 15:18] #44 closed

[2019-12-17 15:19] #36 closed

[2019-12-18 08:57] #35 closed

[2019-12-18 15:22] ScorpioBroker commented on #42
Hi this should be fixed now.

[2019-12-18 15:22] #42 closed

[2019-12-18 15:37] ScorpioBroker commented on #32
Hi all,

i added a new servlet to give some info about the status of the broker. <ip>/scorpio/v1/info/
It has some sub resources like health to show an overview of the different components.
However this is still based on the microservices so if the discovery of spring cloud hasn't found the microservice yet you'll get a 500 exception.

to @1 yes that's true and i will add the different ones to doc

[2019-12-18 15:37] #32 closed

[2019-12-19 13:47] ScorpioBroker commented on #31
Hi Pedro,

thanks for the spot. I've fixed it now.

BR
Benni

[2019-12-19 13:47] #31 closed

[2019-12-20 13:49] ScorpioBroker commented on #45
Hi,
i made a fix for this issue. So that query and notification replies look like this `{
    "id": "urn:ngsi-ld:MyEntity:e1",
    "type": "MyEntity",
    "dateProp": {
        "type": "Property",
        "value": {
            "type": "DateTime",
            "@value": "2019-11-27T11:42:27Z"
        }
    },
...
}`
The replacement of @type with type is defined behaviour due to the ngsi-ld core con

[2019-12-20 13:49] #45 closed

[2019-12-20 14:17] ScorpioBroker commented on #32
Hi just as an update.
The dist containers are now also pushed to dockerhub. So you can just use the docker-compose files without prior building the container. However i would still recommend everyone to build the latest version from source.

[2019-12-23 08:46] jason-fox opened #48 "latest AAIO Docker Hub image does not start"
[code]
[code]
[code]
[code]

... and the image exits.

[code]
[code]
Corresponds to the following image:

![Screenshot 2019-12-23 at 08 54 05](https://user-images.githubusercontent.com/3439249/71347266-e444f000-2561-11ea-925c-d64e3e335bc4.png)

[2019-12-23 10:38] jason-fox commented on #32
I have now created separate docker-compose files for AAIO and dist - **neither** of them are working for me at the moment. The files can be found here: https://github.com/jason-fox/tutorials.Linked-Data

* running `./services scorpio` fails immediately  - I've raised a separate issue [here](https://github.com/ScorpioBroker/ScorpioBroker/issues/48)

* running `./services scorpio-dist` starts all co

[2019-12-23 11:00] jason-fox opened #49 "Semantically Versioned Docker Images are not available."
When using Docker Images in a production environment, it is bad practice to default to "latest" - e.g. https://vsupalov.com/docker-latest-tag/ - I would like fixed tags based on the product release.

Currently Scorpio does not offer semantic versions on DockerHub. I've noticed the latest release (0.9.5) has just been tagged on [GitHub ](https://github.com/ScorpioBroker/ScorpioBroker/releases/tag/0

[2019-12-23 12:04] fisuda commented on #48
Hi @jason-fox,

It seems that a line feed code of run.sh is CRLF.

[code]
scorpio-aaio.yml
[code]

[code]

[2020-01-01 18:16] Takezo36 commented on #49
Hi Jason,
Benjamin here (private account). Yes definately doing that. I've changed the build script to add build versions to the tag and have uploaded an 0,9,5 of the aaio version. I'll tag the rest next week when i'm back at work.

Benjamin

[2020-01-02 13:47] Takezo36 commented on #48
Hi all,
this is Benjamin/ScorpioBroker (Private Account)
No idea how that happened as the \r s are not in the repo and the container was build on linux ...
I've remove the faulty image and uploaded a new one with a version 0.9.5 and also updated the compose file to take the 0.9.5 image.
I've also changed the build script to tag version numbers from now on. I'll do thorough version check next week

[2020-01-03 09:30] jason-fox commented on #48
I've updated my docker-compose to use the fixed version AAIO 0.9.5 and the component now starts.

For details see here: https://github.com/jason-fox/tutorials.Linked-Data

After ~30 seconds, the heartbeat starts responding with a 500 as the services start up.  I am then getting the following recurring error. The heartbeat never responds with 200.

Do you know what might be causing this?

[code]

[2020-01-06 15:00] Takezo36 commented on #48
Hi Jason,

Basically kafka was not reachable.
I've debugged this a bit and it's the 127.0.0.1 for the advertised hostname which causes the problem.
I've now played around a bit with the kafka/docker environment variables to get rid of that pesky ip address replacement. I've updated the aaio compose file and that should work without any edit now.
Basically i changed the advertised hostname and the

[2020-01-13 09:02] #48 closed

[2020-01-14 10:04] stefanbischof opened #51 "Use Scorpio behind proxy server"
This is an important feature since many organizations (be it companies or governmental) only allow internet access via a custom proxy even for backend services like an NGSI-LD broker.

It is not possible to use Scorpio behind a proxy server because the Scorpio query manager has to load NGSI-LD core context from the ETSI webpage. Output of logs:

[code]

I'm deploying Scorpio via the docker microse

[2020-01-14 10:23] ScorpioBroker commented on #51
Hi,

yes i see the problem there. I'll have to investigate a bit with the proxy settings of spring cloud.
But the local file variant is definately on my list to have a "offline" possibility.
I'll come back to this in a bit.

[2020-01-14 10:30] ScorpioBroker commented on #49
Hi Jason,

i've uploaded the versioned containers now and updated the yml files for docker-compose. As with the aaio version, normal points to the dockerhub version and dev to maven build version.
We will keep this up from now.

Regards
Benni

[2020-01-14 10:30] #49 closed

[2020-01-14 10:45] jason-fox opened #52 "Trailing slash is currently mandatory on URLs"
When creating a new entity I use the following syntax:

[code]

and the entity is created successfully

If however I use the URL `http://localhost:9090/ngsi-ld/v1/entities`  - i.e. without the closing slash I get:

[code]

The NGSI-LD specification section 6.4.2. **does** state the following:

However the **URI Generic Syntax definition**  [rfc3986](https://tools.ietf.org/html/rfc3986) states that

[2020-01-14 10:51] jason-fox opened #53 "Error response payload does not return Error Type enumerations"
When creating a new entity I use the following syntax:

[code]

If I create a second entity with the same  `id` I get a 409 error with the following payload:

[code]

According to the NGSI-LD specification 5.5.3 the  type  attribute should be an enumeration taken from section 5.5.2 rather than a repeat of the HTTP error code. The correct response would be something like:

[code]

Another example

[2020-01-14 11:10] jason-fox opened #54 "@context is returned expanded if Link header is suppiled"
I create an entity:

[code]

### Get a single entity by id  - context returned correctly

When I  make a GET request supplying the `@context` in the `Link` header  return the entity:

[code]

returns:

[code]

### Get a single entity by id with @context - expanded context

Whereas

[code]

returns with an expanded context  increasing the payload to 3000 lines:

[code]

Tested AAIO 0.9.5

[2020-01-14 11:30] jason-fox opened #55 "Expansion/Compaction of an enumerated value"
I create an entity:

[code]

### Get a single entity by id as JSON supply @context

[code]
`category` attribute is not correctly compacted:

[code]

expected:

[code]

(Actually the Scorpio reduction of the array is correct here  - it is just the attribute name that has not been altered.)

## Get a single entity as JSON - no context supplied

[code]

value of the `category` attribute is not correc

[2020-01-14 11:40] jason-fox opened #56 "keyValues is not returned correctly for the location GeoProperty"
I create an entity:

[code]

### Request an entity using KeyValues -  `location` is returned as a string

[code]

[code]

Expected -  `location` is returned as an embedded Object

[code]

[2020-01-14 11:46] jason-fox opened #57 "Querying on a sub-attribute is not supported (unencoded bracket)"
I create an entity:

[code]

I make a request using the `q` parameter searching on a sub-attribute - see p36 of the specification

[code]

Scorpio returns a 400 response with an unformatted error page:

Expected:

[code]

[2020-01-14 12:07] jason-fox opened #58 "Geoquery not supported (unencoded bracket)"
I create an entity:

[code]

I make a geo-query using the `georel` parameter searching on a sub-attribute - see p38 of the specification

[code]

Scorpio returns a 400 response with an unformatted error page:

Expected:

[code]

[2020-01-14 13:13] ScorpioBroker commented on #58
Hi Jason,

i think this is a url encoding problem. We have always url encoded our requests and that works. As far as i understand the rfc for that (i'm in no way an expert for this) ",", "[", "]" are considered special delimiters for http requests and should/must be url encoded if to be used as value, as it is the case here.
https://tools.ietf.org/html/rfc3986#section-2

I'm a bit unsure at the mo

[2020-01-14 13:24] jason-fox opened #59 "Invalid JSON-LD according to the API Data type definitions should return a BadRequestData"
Specification states:

The following is valid - and parsed correctly.

[code]

Altering the `observedAt`value to a Blank

[code]

Should return a **BadRequestData** - actual result **Internal Error**

[code]

[2020-01-14 13:56] jason-fox opened #60 "Added Relationships not returned with keyValues option"
I create an entity

[code]

I **add** a series of relationships to that entity

[code]

**Note** it is important to add the relationships later

If I request the updated entity  - I receive the properties and relationships

[code]

[code]

However if I add  `options=keyValues` - all relationships are removed from the response.

[code]

[code]

Expectation - both Properties and Relationships are pr

[2020-01-14 14:00] jason-fox commented on #60
Similarly `locatedIn` is missing from the response when using the `attrs`parameter

[code]

[2020-01-14 14:17] jason-fox opened #61 "Using option=KeyValues misnames returned attributes."
I create a complex entity with Properties and Relationships

[code]

When I request the entity  using the `attrs` parameter, the attribute is returned

[code]

[code]

**However** - if I request the same entity and use òptions=keyValues`
 :

[code]

The response alters the name of the returned attribute to `requested:For` with an additional colon.

[code]

The same issue occurs when adding `option

[2020-01-14 14:23] jason-fox commented on #61
A similar issue can be found with

[code]
The response returns:

[code]

`tutorial:orderedProduct` is the namespaces attribute name.  Now if àttrs`is removed

[code]

[code]

You can see `requestedFor`, `requestedBy` and òrderedProduct` are all misnamed.

[2020-01-14 14:47] jason-fox commented on #58
If you look at **Appendix D**, you'll find the following:

   authority component and are not allowed outside their use as
   delimiters for an IP literal within host.  In order to make this
   change without changing the technical definition of the path, query,
   and fragment components, those rules were redefined to directly
   specify the characters allowed.

Which if I've read it correctly me

[2020-01-14 14:54] jason-fox commented on #58
Note:

[code]

does  return valid data as expected.

[2020-01-14 15:05] kzangeli commented on #58
postman probably url-encode before sending, that would be a logical reason as to why it works.
Not sure that it should be mandatory to url-encode though ...
The spec is not too clear about this.
It would definitely be nice to accept brackets without encoding. It's user-friendly.
@jason-fox - does orion-ld accept your request?

[2020-01-14 15:10] jason-fox commented on #58
More info: https://stackoverflow.com/a/39294315/1179828  - particularly at the last paragraph.

**Orion-LD** accepts the URL with the square brackets unencoded. **Scorpio** does not.
Interpreting the unencoded brackets is not a violation of RFC 3986. Sending the data without encoding is.

Your move @ScorpioBroker  😄

[2020-01-14 15:14] jason-fox commented on #57
Encoding the square brackets here works fine:

[code]

[2020-01-14 15:14] jason-fox commented on #57
Related: https://github.com/ScorpioBroker/ScorpioBroker/issues/58

[2020-01-14 15:21] jason-fox commented on #58
@ScorpioBroker  @kzangeli

My current thought on this issue is that the NGSI-LD spec itself needs to be updated and clarified as to whether it is necessary to respond to non-RFC 3986 compliant requests. I don't think it does any harm, and obviously it makes the URLs easier to read. Whether this functionality is  mandatory or not I don't know.

At the moment it seems to be a beneficial quirk of **O

[2020-01-14 15:22] kzangeli commented on #58
@martin-p-bauer - would be good to hear some feedback from you

[2020-01-14 15:28] jason-fox commented on #54
Expanding the `@context`seems contrary to the normative example on page 156 of the specification

[2020-01-14 15:51] jason-fox opened #62 "Invalid URI in a relationship is not rejected"
Related #59

Specification states:

According to  [Microsoft](https://docs.microsoft.com/en-us/dotnet/api/system.uri.iswellformeduristring?redirectedfrom=MSDN&view=netframework-4.8#System_Uri_IsWellFormedUriString_System_String_System_UriKind_) - the following are invalid URIs:

* `http://www.contoso.com/path???/file name`
* `c:\\directory\filename`
* `file://c:/directory/filename`
* `http:\\\host

[2020-01-14 16:14] jason-fox opened #63 "No validation of member values in accordance with their data type"
Specification states:

The following is therefore *invalid*  since the datetime is not a date - but parses correctly.

[code]

it should return `BadRequestData`

[2020-01-14 16:33] martin-p-bauer commented on #58
@ScorpioBroker @jason-fox  @kzangeli

Yes, we started discussing this - and the NGSI-LD specification is quite silent on this at the moment and we need to address the problem there.

It is good practice to URL-encode, but we have to decide whether to also allow the non-encoded version.

According to Benjamin's interpretation Appendix D of RFC 3986 exclusively refers to the host portion, i.e. the u

[2020-01-15 10:19] ScorpioBroker commented on #58
Hi all i made an update to the gateway to allow [] as characters.
However in regards to the spec.
Appendix D referes to the authority part of an uri which is the host. It explicitly ends with the first /. This does not allow an unescaped use of [] after that.
https://tools.ietf.org/html/rfc1738#section-2.2
rfc1738 list them explictly as unsafe characters which must be encoded.
To allow them or use

[2020-01-16 16:36] kzangeli commented on #58
ok, makes sense. Let's encourage to have them encoded.
A question remains, should we forbid the usage of unencoded []?
- To avoid possible future problems ...

[2020-01-20 15:05] ScorpioBroker commented on #62
Hi Jason,

I looked into this and it seems to me that MS is not considering this file://c:/directory/filename a valid uri because it doesn't work in some windows versions like this. It's requiring another / (even though in Win10 also without the 3rd / before c: does work). However in terms of uri rfc (https://tools.ietf.org/html/rfc3986) compliance this is a valid uri.

i checked with the examples

[2020-01-20 20:21] jason-fox commented on #62
So it just so happens that the one I picked from the list happens to be the one exception here.  😄

Feel free to close if you don't want to implement any further changes

[2020-01-21 08:57] jason-fox opened #64 "Unable to Upsert Entity"
I upsert an entity with two properties and a relationship using the `/ngsi-ld/v1/entityOperations/upsert/` endpoint using valid syntax.

[code]

Broker does not upsert the entity responds with

[code]

Also fails in `null` is placed in quotes - e.g `"null"`, even reducing the payload down to :

[code]

doesn't help. Tested AAIO 0.9.5

[2020-01-21 14:14] #58 closed

[2020-01-21 14:15] #62 closed

[2020-02-17 11:58] patrik999 commented on #51
I also like the idea that the core context could be defined as a (local) file. This could be extended that Scorpio caches the context.jsonld locally, in case the connection to the WWW is not available. This would increase the robustness of the broker in an environment, where there is not always internet access.

[2020-03-04 10:08] ScorpioBroker commented on #18
Hi this is fixed now.
@jmcanterafonseca also the details is fixed for some time. Please make individual issue reports for each issue.

[2020-03-04 10:08] #18 closed

[2020-03-04 10:22] ScorpioBroker commented on #19
Hi this is fixed now the sysAttrs option is now properly respected on temporal queries. The wrong format of the toplevel datetimes is also resolved.
@jmcanterafonseca I will reopen another issue for the array part as this is not related to this issue

[2020-03-04 10:22] #19 closed

[2020-03-04 10:28] ScorpioBroker opened #69 "Single value attributes in a temporal query result are not in an array."
Attributes which have only one value in temporal queries are not properly encapsulated in an array.
This due to an ambiguous entry in the core context which is used for different api operations.
This needs a special protecting when compacting.

Related to a report in Issuer#19

[2020-03-04 10:34] ScorpioBroker commented on #54
Hi yes the expanded context was not expected behaviour is fixed by now.

[2020-03-04 10:34] #54 closed

[2020-03-04 10:36] ScorpioBroker commented on #10
Hi i think this was due to a reconfiguration of the serialization and shouldnt happen anymore. If it still does for you please feel free to reopen the issue.

[2020-03-04 10:36] #10 closed

[2020-03-04 10:37] ScorpioBroker commented on #9
Hi i think this was due to a reconfiguration of the serialization and shouldnt happen anymore. If it still does for you please feel free to reopen the issue.

[2020-03-04 10:37] #9 closed

[2020-03-04 11:53] ScorpioBroker commented on #55
Hi,
i can see the problem with the missing array and will try to address this (ambiguous @context entry strikes again). but why are you expecting your value to be expanded somehow?

I made a few tests on the json-ld playground at there seems to be a problem with the fiware context for category. It never compacts back like this.
Please see the attached screenshots even with only the fiware context

[2020-03-04 13:34] ScorpioBroker commented on #59
returns now badrequest.

[2020-03-04 13:34] #59 closed

[2020-03-04 14:26] ScorpioBroker commented on #61
Hi,
there was a bug for the kv pairs of relationships which is fixed now, so the request:For will not happen again. However the tutorial prefix is indeed wanted behaviour according to json-ld. Honestly i can't explain what exactly goes on here but i made some tests on the playground and the combination of the two contexts is what messes it up.

As you can see when i use the core context and your t

[2020-03-04 14:26] #61 closed

[2020-03-04 14:31] ScorpioBroker commented on #56
hi,
this was taken care of in another fix closing it.

[2020-03-04 14:31] #56 closed

[2020-03-04 14:52] #64 closed

[2020-03-04 15:34] jason-fox commented on #55
if I supply the `@context`  -properly compacted  (i.e. not `https://uri.fiware.org/ns/data-models#category` ) would be correct.

``json
"category": {
        "type": "Property",
        "value":  "commercial"
    }
[code]

The point being that if `category` is defined as:

[code]

Then  the `value` is an array of **enumerations** - which can be expanded and compacted in the usual manner.

[2020-03-04 16:04] ScorpioBroker commented on #55
The point being that if category is defined as:

"category": {
      "@id" :"fiware:category",
      "@type": "@vocab"
    },
Then the value is an array of enumerations - which can be expanded and compacted in the usual manner.

------------------------
I don't think that is the case. As far as i understand the json ld spec, this only means that every key which starts with category will be prefixe

[2020-03-04 16:34] jason-fox commented on #55
I'm referring to the secondary meaning of `@vocab` as defined here:  https://github.com/lanthaler/JsonLD/issues/31

json-ld spec, only in the api. If used as a value of @type in the
context, it says that the corresponding attribute value must be
expanded to an IRI.

Hence if I create `category:  commercial`.    these should be expanded.

[2020-03-04 16:34] ScorpioBroker commented on #53
Hi,

i changed the error handling to provide the proper structure (when possible some http errors which can happen are not reflected in that list) and detail error messages when needed/possible.

[2020-03-04 16:34] #53 closed

[2020-03-04 17:00] ScorpioBroker commented on #55
Type Coercion only works on raw string values which we don't have here.
https://www.w3.org/TR/json-ld/#type-coercion

I've tested it on the playground (see pics). Even a low complexity already denies that. It doesn't even work with numbers but really only with either strings or an array of strings.
And what than happens since this is not a string it falls back to using it as prefix with.

![string

[2020-03-04 17:27] martin-p-bauer commented on #55
I checked the referred example, which works in the playground, and after having a detailed look, I noticed the difference: you can use the @vocab in the case of directly referring to the JSON value, so in the example you have  "delivery": "RENT" and the @vocab is defined for delivery. Now, this is not the case for us: you have  "category" whose JSON value is a JSON object (of type Property) and th

[2020-03-05 08:47] ScorpioBroker commented on #55
Since is more about the use of the core context combined with other contexts and not a scorpio issue i'll close this. Let's continue this via email

[2020-03-05 08:47] #55 closed

[2020-03-09 10:04] ScorpioBroker commented on #57
fixed with issue #58

[2020-03-09 10:04] #57 closed

[2020-03-09 10:05] ScorpioBroker commented on #60
Hi this is fixed now.

[2020-03-09 10:05] #60 closed

[2020-03-10 11:22] jason-fox opened #70 "Multiple relationships not returned in keyValues"
Scorpio 0.9.7.

I create a Store with  multiple Shelf relationships:

[code]

I retrieve the `furniture` attribute

[code]

Response only includes first item of the array:

[code]

**Note** - dropping the `options` parameter returns all three relationships.

[2020-03-10 11:24] jason-fox opened #71 "Type attribute against an individual record not supported"
Scorpio 0.9.7.

I create a Store

[code]

I retrieve the  Store using the `type` parameter

[code]

Response says that this is an invalid request.

[code]

[2020-03-10 11:29] jason-fox opened #72 "Filtering using the id parameter is not supported."
Scorpio 0.9.7.

I create  multiple shelf objects:

see - https://github.com/FIWARE/tutorials.Working-with-Linked-Data/blob/master/import-data#L114=#L356

[code]

I request  **only**  a subset of entities using the `id` parameter

[code]

Result - all **Shelf** entities are returned

[2020-03-10 11:41] jason-fox opened #73 "Long name not returned as part of the default context when included in the previous create statement"
Scorpio 0.9.7 - Possibly related to #61

I have a jsonld context including `category` defined as shown.

[code]

I create a Store

[code]

I retrieve the  Store without defining an `@context`

[code]

`category` is  returned within the default context, even though it was defined in the previous request.

[code]

**Note:** - this could be to do with the `@vocab` element, but I'd expect the  long na

[2020-03-10 11:57] jason-fox opened #74 "Property compaction for an attribute with an attribute where type is defined as an xsd:integer"
Scorpio 0.9.7.

I create a Shelf using the following `@context`

[code]

[code]

Retrieving the  Shelf  with short names does not  fully reduce the Properties defined with an ` "@type"` =\= `"@id"`.

[code]

[code]

It is probably the `@context`  which is incorrect, but the question remains, how to define the property as an integer within the context and ensure that full compaction takes place.

[2020-03-10 12:19] jason-fox opened #75 "Questions surrounding Registrations."
Scorpio 0.9.7  -

I create a Store and then create a registration

[code]

[code]

The response returns the `id` of the registration - `urn:ngsi-ld:csourceregistration:1021499961`

**Question 1** - I'm not sure where this is defined in the spec - I would have expected a 204 HTTP code only perhaps  🤔 - can you show me where this behaviour is defined.

If I attempt to check the registration as folll

[2020-03-10 12:42] ScorpioBroker commented on #71
Hi,

yes this is a invalid request. Getting entities only supports the paramter attrs (6.5.3.1 ) nothing else.
What you want to do is only possible with a query like this
ngsi-ld/v1/entities?id=urn:ngsi-ld:Building:store001&type=Building

Benni

[2020-03-10 12:42] #71 closed

[2020-03-10 13:36] ScorpioBroker commented on #72
hi this is fixed now.

[2020-03-10 13:36] #72 closed

[2020-03-10 14:21] ScorpioBroker commented on #70
Hi this is actually not allowed.
5.2.6 says object is one URI.
I added a check to make sure it's only one uri.

[2020-03-10 14:21] #70 closed

[2020-03-10 14:48] ScorpioBroker commented on #75
Hi,

so question one. it's fixed now. you shouldn't get the id back.
question 2: you need to provide at least type or attrs as param for this operation. I updated the error message show this.

About the other stuff. Interaction with csources is restricted to queries and subscriptions. (4.3.3 and 4.3.4). So no patching and the /entities/{entityId} is not a query as such but considered retrieval. it

[2020-03-10 14:48] #75 closed

[2020-03-10 14:59] ScorpioBroker commented on #73
Hi,

the broker doesn't store any context which was provided during the creation. If you don't provide the right context things are returned in an expanded form. You have to provide the at context fitting to what you want as output.
A generic approach to stored default contexts for entities is not possible since this will have inconsistencies when different people work on the same entity.
The only

[2020-03-10 16:02] ScorpioBroker commented on #74
Hi,

so i searched a bt and found this https://github.com/json-ld/json-ld.org/issues/495
from what i got you can't use type like this. when i said the type to id it also compacts properly again.
If i get you right you want to enforce that that attribute has to be an int? I think you can't on this level. @type would be normally the place for this in a raw jsonld setup but in ngsi-ld this is predefi

[2020-03-12 08:32] jason-fox commented on #74
Well, not a bug in Scorpio, but a bug in the ESTI spec.

I knew my idea of using:

[code]

Came from somewhere. If you look in the Spec **Appendix C.6 Date Representation**, the spec suggests that:

Which is **wrong** isn’t it (invalid JSON-LD)?

- ` testedAt` is a **Property**
-  `maxCapacity` is a **Property**

-  `testedAt.value` is a **Datetime**
- `maxCapacity.value` is an **Integer**

So _te

[2020-03-12 13:54] ScorpioBroker commented on #74
Hi,

so this is a faulty example in the none normative appendix of the spec. I forwarded the problem. Since this is something to fix by ETSI i'll close this now.

[2020-03-12 13:54] #74 closed

[2020-03-16 08:12] #73 closed

[2020-03-25 11:40] MayankMag opened #76 "Wrong response code generated for create entity request, when kafka service is down."
Scorpio Broker generates wrong response code when a POST request for create entity is made on it while Kafka Server is down. Ideally it should not  give Response(201 Created), when entity is not created in the database.

Pre-Requisite: Kafka service is down.
Expected Response: Kafka service is down.
Actual Response: 201 Created
Response Body: <Entity-ID>

[2020-03-25 16:50] ScorpioBroker commented on #76
Hi,
thanks for the report. I'll have to investigate a bit how to handle this properly since we are sending these messages in an asynchronous manner to avoid blocking on the http interface. Hence it's a bit hard to capture an error. At the moment my train of thought is rather in the direction of keeping messages until kafka comes back up than erroring out.
Benni

[2020-04-03 15:33] xannz commented on #33
I have some follow up questions regarding this issue:
- Does Scorpio expect Kafka to have it's topics retention set to infinity? It seems normal to me that Kafka deletes old messages.
- Does Scorpio read directly from random offsets inside a Kafka topic? If so, why not directly from the Postgres db?

[2020-04-06 07:32] ScorpioBroker commented on #33
Hi,
yes at the moment that is the case for the retrieve entity part. Honestly it's a left over from the initial idea to use only kafka (with ksql). As it is only in the entity retrieve part it kind of flew under the radar for now. I'm currently in the process of eliminating the parts. I'll come back once i'm done.

[2020-04-08 08:49] ScorpioBroker commented on #33
Hi,
i changed the retrieve part to use the database so this error should be gone for good.

[2020-04-08 08:49] #33 closed

[2020-04-20 14:27] ScorpioBroker commented on #17
Hi the support for the temporalValues option is now in.

[2020-04-20 14:27] #17 closed

[2020-04-20 14:29] #26 closed

[2020-04-20 14:29] #29 closed

[2020-04-20 14:29] #34 closed

[2020-04-21 16:23] tanktoo opened #77 "No notification for subscribed entitiy if entity has "location" property"
Hi,
I found a strange bug for notifications/subscriptions:

I subscribe for entities of type X to get a notification for every create or update of an entity of type X.
This is working fine so far and I get notifications but as soon as an entity of type X has a `location` added of type `GeoProperty` there is no notification sent.
Example (replace server address in POST and notification endpoint for

[2020-04-22 09:09] ScorpioBroker commented on #77
Hi,
is fixed now in the repo and hotfix for the docker images will go out today.

[2020-04-22 09:09] #77 closed

[2020-04-22 14:05] ScorpioBroker commented on #69
This is basically an error in the core context which will be updated. So no need to catch those things from our side. At the moment it's  a known bug for us which will not be fixed by us.

[2020-04-22 14:10] ScorpioBroker commented on #52
Comment for handling.
Should be addressed when we change the gateway server

[2020-04-22 14:17] ScorpioBroker commented on #20
This was patched and only forgotten to be closed.

[2020-04-22 14:17] #20 closed

[2020-04-22 14:24] ScorpioBroker commented on #51
Hi,
as this is the first issue we address with a new branching setup i'll add this as a short fyi.
There is now a development branch for the latest changes.
"sub" branches will merge back there rather quick.
development will merge back to master on releases.
So if you want the "latest code" we advise to use the development branch from now on.
back to the issue. PR is out.
The included atcontext se

[2020-04-24 07:23] ScorpioBroker commented on #63
Hi,

i looked a bit through this and talked with martin about it. Basically the specs needs a bit of an update here to avoid confusion. JSON-LD validation of @type validates the structure of a json attribute not the contents of @value fields. GeoProperty TimeProperty and Relationship have well defined value/id fields in the spec hence they get validated. but value of Property is a free form field

[2020-04-24 07:46] ScorpioBroker commented on #30
Hi,

yes this is correct. However this is a function which is needed for certain use cases. I've to check if this should be an option.

[2020-04-24 08:48] ScorpioBroker commented on #30
Hi after some further reading and some clarification questions. This is correct behaviour as is. The spec says that if any member of the attribute changes it's considered changed. This includes the sys attrs (modifiedat etc). Those get updated on an a fresh update every time.
But yeah not super clear to me as well.
So i'll close this one.

[2020-04-24 09:14] martin-p-bauer commented on #30
We need to discuss this further - I see the case that I want to anyway be notified, e.g. to know the updating component is still alive or I want to monitor the temporal development. In other cases I really only would like to see new values.
From a formal perspective, at least the modifiedAt temporal property changes and thus there is a change in a member of the attribute, which should result in a

[2020-04-24 09:16] ScorpioBroker commented on #30
Reopen to indicate further clarification process.

[2020-04-24 09:36] naveennec opened #79 "Multi-value feature support"
updates and delete support based on dataset id need to be added in ScorpioBroker

[2020-04-24 10:49] martin-p-bauer commented on #63
General difficulty is that JSON-LD allows me to put whatever URI I want as a type - this does not mean that I am actually in a position to validate whether the value adheres to this type (where is it even defined?) So this turns out to be a problem ...

[2020-04-27 06:37] arpitNEC opened #80 "Documentation of ScorpioBroker is required"
A detailed documentation of scorpioBroker is required

[2020-05-08 12:02] ScorpioBroker opened #82 "Python binding for NGSI-LD"
One of the bigger uses for graph data such as NGSI-LD is in the machine learning/A.I. area. This community is mainly present in python therefore a natural python binding for ngsi-ld would be beneficial for the spread of ngsi-ld and so scorpio. Additionally this benefits the integration efforts on the FogFlow side of things.

[2020-05-19 08:00] #51 closed

[2020-06-03 10:37] naveennec opened #88 "Instance-Id getting updated even not present in PATCH request payload."
PATCH  request with endpoint: localhost/ngsi-ld/v1/temporal/entities/urn:ngsi-ld:testunit:154/attrs/airQualityLevel/urn:ngsi-ld:0afa5d4c-1
Payload body :
{
   "airQualityLevel": [
        {
      "type": "Property",
      "value": "hot1",
      "observedAt": "2018-08-07T12:00:00Z"
        }
    ]
}
is updating the instance id. when instance Id is already present in endpoint, it should not be updat

[2020-06-09 05:23] naveennec commented on #22
Code done, reviewed and merged in development branch.

[2020-06-09 05:23] #22 closed

[2020-06-09 05:24] naveennec commented on #21
Fix of issue 22 also fixed the issue no 21,  code fix is committed in development branch, which is reviewed and tested.

[2020-06-09 05:24] #21 closed

[2020-07-01 09:26] naveennec commented on #88
Fix is added in development branch, closing it.

[2020-07-01 09:26] #88 closed

[2020-07-01 09:28] naveennec commented on #79
Multi-value support is added in development branch, closing it.

[2020-07-01 09:28] #79 closed

[2020-07-29 05:49] naveennec opened #96 "MQTT-Support- mqtt endpoint should be notified on the change of subscribed endpoint."
Scorpio should support the mqtt notification support.

[2020-08-13 10:45] amitrnec opened #98 "History Manager-UT"

[2020-08-13 15:00] arpitNEC opened #99 "Open API add-on"
Swagger implementation for Open API support.

[2020-08-20 12:47] Glagnar opened #104 "SubscriptionManager crash loop"
The following crash occurs after starting the project via. docker after a couple of minutes.

[code]

[2020-08-20 20:08] ScorpioBroker opened #105 "Change .travis.yml to run scorpio in all variants"
Related to issue #104.

This was an oversight on my side because the test and dev for the updates causing this problem were done only with the aio runner. We should let the testsuite run a few times running with all different configurations we support

[2020-08-20 20:27] ScorpioBroker commented on #104
Hi,
sorry for the inconvenience. Dev and testing of that change were done with the all in one runner so i missed that. I'll update our testing as well for this.
i've hotfixed the docker container for the subscription manager for latest and 0.9.11.
PR for the hotfix into dev is on it's way.
I'll leave this open till the fix is in dev.
BR
Benjamin

[2020-08-26 13:40] jason-fox opened #109 "Internal error when context not found - no message"
The following **BATCH** operation correctly identifies the `@context` to be missing:

[code]

[code]

This is a useful error message, but does not follow the format expected by the specification:

However a similar POST for an **individual** create entity (with bad context)  does not provide sufficient information to debug:

[code]

[code]

This follows the format expected by the specification, bu

[2020-08-26 14:45] stefanbischof commented on #51
I finally got to test this on an internal server. Unfortunately, now Scorpio crashes during startup. I tried both docker variants on the server without internet access (would be possible, but only via proxy), details below.

* Is the path of the core context file correct (`jar:file:/usr/src/scorpio/AtContextServer.jar!/BOOT-INF/classes!/ngsi-ld-core-context.jsonld` or `jar:file:/usr/src/scorpio/sc

[2020-08-28 13:18] stefanbischof commented on #51
I found a a few places which tried to get the core context. Below a hack to circumvent these. Of course this is not nice code, just to give an idea where those places are. Particularly interesting is `JsonLdProcessor.compact(...)` which seems to fetch the core context by itself (again).

[code]

[2020-09-01 07:39] ScorpioBroker commented on #109
Absolutely. I changed the messages in my branch, will merge back soon.

[2020-09-02 03:52] amitrnec opened #112 "Subscription Manager-UT"

[2020-09-02 06:49] ScorpioBroker commented on #96
Merged

[2020-09-02 06:49] #96 closed

[2020-09-02 06:49] ScorpioBroker commented on #109
Is in dev now.

[2020-09-02 06:49] #109 closed

[2020-09-02 11:32] ScorpioBroker commented on #51
Hi,
yes this is a bug. I've solved it now a bit differently and the fix is now in dev. New docker images coming soon.
As for the current ones. In the next version all will support this but for now it's only working with aaio version.
You can set in the docker-compose file config via and env var spring_args.
environment:
      spring_args: --context.coreurl=<YOUR HOST>

[2020-09-04 13:17] ScorpioBroker commented on #99
Impl merged.

[2020-09-04 13:17] #99 closed

[2020-09-04 13:18] #104 closed

[2020-09-04 13:20] ScorpioBroker commented on #80
Documentation has greatly improved. Closing this.

[2020-09-04 13:20] #80 closed

[2020-09-04 13:20] ScorpioBroker commented on #52
Hi, addressed this in feature 52 merged. Fixed now

[2020-09-04 13:20] #52 closed

[2020-09-04 13:21] ScorpioBroker commented on #82
Python binding is in tool branch.

[2020-09-04 13:21] #82 closed

[2020-09-08 05:56] #98 closed

[2020-09-10 11:01] ScorpioBroker opened #122 "Moving persistence approach of micro services from kafka to a persistence module"
Kafka at the moment is used as persistence module by some microservices, e.g. subscriptionmanager, atcontext, etc. There is no particular advantage for this currently and it prevents a global kafka setting for the retention time. Everything else in kafka at the moment is purely based on API calls. Hence a persistence module for those microservice should be implemented to make the kafka config easi

[2020-09-10 11:07] ScorpioBroker opened #123 "Overhaul unit tests"
There was quite a lot of changes now in some core logic and unit tests need to be updated in general now.

[2020-09-13 05:53] amitrnec opened #124 "Failed to parse notification parameter when subscribe the entity"

[2020-09-17 07:56] ScorpioBroker opened #128 "GeoJSON output support"
Adding geojson as new accept format.

[2020-09-17 14:02] ScorpioBroker opened #130 "History Manager queries not working properly"

[2020-09-22 08:20] jason-fox opened #132 "One-to-Many Relationships - keyValues defaults to single value."
I have an entity with a one-to-many relationship where *none* of the objects are using the default `datasetId`. I can query for the full normalized entity like this:

[code]

and it returns `furniture` correctly like this:

[code]

However using `keyValues` mode.

[code]

The second and subsequent `furniture` relationships are not returned:

[code]

Whereas this may make sense if the default `data

[2020-09-22 08:33] jason-fox opened #133 "Missing Release Tags on GitHub"
According to [this](https://github.com/ScorpioBroker/ScorpioBroker/tags) the last scorpio release was **FIWARE 7.8.2** there are missing release tags to align with Docker Hub

- `0.9.10` - should be a double tag of  **FIWARE 7.8.2**
- `1.0.0` - missing
- `1.0.1` - missing.

Adding in these tags on GitHub is essential to track the releases of scorpio for the FIWARE catalogue.

[2020-09-22 08:50] ScorpioBroker commented on #133
Hi,

I will add them. Should i tag releases on dockerhub in between fiware releases also with the then current fiware tag?
Is the underscore we have in the release ok or should be a space?
So FIWARE_7.8.2 or FIWARE 7.8.2
BR

[2020-09-22 09:01] jason-fox commented on #133
`FIWARE_7.8.2` is only to mark the version included at the time of the FIWARE release - you don't need to add the tag to your interim releases. And it uses underscore.

[2020-09-22 09:04] ScorpioBroker commented on #133
Ok great. I added the tag on dockerhub.

BR
Benni

[2020-09-22 09:04] #133 closed

[2020-09-23 04:34] #124 closed

[2020-09-23 04:37] #112 closed

[2020-09-24 13:11] #130 closed

[2020-09-24 14:52] ScorpioBroker commented on #132
Hi Jason,

i've fixed that now in the branch. will merge soon and create a new docker image. but just as a heads up we are creating(updating) key value representations when the normal entity is created. So this patch will only affect new created entities after this. i'll look into a migration possibility when we address the new core context. Since that one will require a bigger amount of migration

[2020-09-24 14:53] ScorpioBroker commented on #132
Once the new docker image is up i'll close here as indication.

[2020-09-25 03:59] amitrnec opened #137 "Update ngsi-ld core context-v1.3"

[2020-09-25 15:12] jason-fox opened #138 "resource URI of the created subscription found in body"
I am creating a subscription as shown:

[code]

The subscription is created successfully and returns HTTP Code 201 ✅

However the response *body* returns a plain text response ❌

[code]

According to the 1.3.1 specification
**Table 6.12.3.1-1: Post Context Source Registration Subscription request body
and possible responses**

|  Response Codes  | Remarks |
| --- | ---|
| 201 | Created Upon succes

[2020-09-25 15:23] jason-fox opened #139 "Unable to list registrations"
I create a Registration:

[code]

Broker returns HTTP 201 Created  ✅

I then attempt to retrieve the list of registrations:

[code]

The Broker returns an error response ❌

[code]

I would expect the registration to be returned. The specification **Table 6.8.3.2-1: Query parameters** does not list `type` or `attrs` as mandatory attributes.

Scorpio _v1.0.1_

Note that if I copy the registration id

[2020-09-25 15:30] ScorpioBroker commented on #139
Hmm. True that's a bug. I guess we took that over from the queries table somehow. Will take care of it.

[2020-09-25 15:32] jason-fox opened #140 "Obtaining Data from a simple context provider."
When using the following [docker-compose](https://github.com/FIWARE/tutorials.LD-Subscriptions-Registrations/blob/master/docker-compose/scorpio-aaio.yml). For the CSource registration created here:

[code]

I would expect that I have registered the attribute `tweets` to be read from `http://context-provider:3000`.

When I read the Entity:  `urn:ngsi-ld:Building:store001`

[code]

I would expect `t

[2020-09-25 15:36] jason-fox commented on #140
To be honest, this is more or a placeholder than a real issue. My understanding of NGSI-LD context-providers can be found [here](https://github.com/FIWARE/tutorials.LD-Subscriptions-Registrations/blob/master/README.md#using-registrations-with-ngsi-ld) and this is how Orion-LD works.  What I'm trying to find out is how to get this working with both Scorpio and Orion-LD using the same provisioning c

[2020-09-25 15:54] ScorpioBroker commented on #140
Hi,
yeah i can see where you are coming from there.  A query with id=urn:ngsi-ld:Building:store001 and type=Building would do what you expect here.
But the /entities/{entityId} part is rather strict REST and only works on the local resource in all CRUD cases. So it will only ask for a local resource on get.

Basically from a REST point of view we are doing the correct thing here but i can also see

[2020-09-25 16:34] jason-fox commented on #140
Precisely - your interpretation of the "holy book" may differ from @kzangeli here, until the spec clarifies this we're going to have to work together to maintain interoperability.

I've tried   `entities/?id=urn:ngsi-ld:Building:store001&type=Building` and I've tried  `/urn:ngsi-ld:Building:store001`  and I still can't get it to work. Could you have a look at [the tutorial](https://github.com/FIWA

[2020-09-25 16:38] jason-fox commented on #140
The registration is:

[code]

[2020-09-26 07:36] martin-p-bauer commented on #140
I fear we have not explicitly documented the implementation assumptions we made for distributed operation (or at least not in an easy to find way). the NGSI-LD specification defines only the API and enables different deployment architectures, but it does not completely describe all details of the system, i.e. there are still design decisions to be made. For the central Broker case, without additio

[2020-09-28 11:59] ScorpioBroker commented on #139
Hi Jason,

i checked our code we have a comment there refering to 5.10.2.4 in the spec which says that attrs or type is required. I think the table needs to be updated. @martin-p-bauer can you verify this.

[2020-09-28 12:01] ScorpioBroker commented on #140
Hi,

aside from the architectural part there was indeed a problem with our regex for the endpoint here. I fixed it and will create a PR soon.

[2020-09-29 08:30] ScorpioBroker commented on #139
Hi,

i talked with Martin and he confirmed that 5.10.2.4 is valid and that the table should be updated.
I'd close here for now.

BR

[2020-09-29 08:30] #139 closed

[2020-09-29 08:31] ScorpioBroker commented on #138
Fixed & merged to dev

[2020-09-29 08:31] #138 closed

[2020-09-29 08:36] ScorpioBroker commented on #76
We have changed the way to store entities now fundamentally so i'm closing this here.

[2020-09-29 08:36] #76 closed

[2020-09-29 08:39] ScorpioBroker commented on #63
As this isn't further addressed i'll close this till there is a spec update. Then we will add an enhancement issue.

[2020-09-29 08:39] #63 closed

[2020-09-29 10:47] amitrnec opened #142 ""timestamp" format parsing error in CSourceRegistration"
"timestamp": {
        "start": "2017-11-29T14:53:15Z"
    }

Text '2017-11-29T14:53:15Z' could not be parsed

[2020-09-29 10:47] #123 closed

[2020-09-30 13:35] jason-fox commented on #140
To take @martin-p-bauer 's points one-by-one:

I can confirm that when I am testing  with *v1.0.1* `/?id=urn:ngsi-ld:Building:store001&type=Building` isn't working for me - not sure if @ScorpioBroker has fixed it with the patch.

I see what you are getting at (local vs forward + local), but this needs to be formally defined in the spec somewhere so all brokers can follow the same paradigm. Maybe a

[2020-09-30 13:49] ScorpioBroker commented on #140
Hi,
just for completeness the patch will be in the release on Friday. It will take care of the query problem.

Having a different default on retrieve is indeed a problem.
From a implementation point of view we can easily support a flag without much problems.

As this is directly related to the update to iot agents, in the sense that it both affects the .../{entityId} resource handling we should be

[2020-10-01 10:13] ScorpioBroker opened #144 "q param in History Queries not working correctly"
q works at the moment not correctly on history queries. it removes all other attribs which are not in q which shouldn't be the case.

[2020-10-05 08:13] #144 closed

[2020-10-05 08:13] #142 closed

[2020-10-05 08:14] #132 closed

[2020-10-05 08:19] ScorpioBroker commented on #122
Subscriptions are now stored with mapdb and retention time for kafka can now be set to something lower.

[2020-10-05 08:19] #122 closed

[2020-10-05 13:46] ScorpioBroker commented on #140
Hi,
the bug is fixed now.
I'll close here now let's take the other issues to email and discuss them.

[2020-10-05 13:46] #140 closed

[2020-10-08 08:21] amitrnec opened #147 "Query for available Entity Types and Attributes"
Now there are requests to retrieve currently available Entity Types or currently available Attributes.

[2020-10-12 12:30] ScorpioBroker opened #148 "Catch more errors on geoproperty entries"
We are currently missing potential structure errors in geoproperties entries, we should evaluate the right amount of arrays matching the corresponding geometry and should also check that the content to be a two floats.

[2020-10-12 15:05] ScorpioBroker opened #150 "Prop of prop sysattrs don't get added on update/append"
Hi,

properties of properties don't get sysattrs attached when values get patched. It works on create.

[2020-10-12 15:06] ScorpioBroker opened #151 "sysattrs don't get removed on prop of prop on the temporal interface"
sysattrs don't get removed on prop of prop on the temporal interface

[2020-10-20 13:51] arpitNEC opened #153 "Kubernates support"

[2020-10-22 22:00] Glagnar opened #154 "Connecting to Kafka"
I am trying to set the following parameters for kafka:

[code]

but I am not having much luck. I am trying to do something like below - for running in docker.
<img width="1250" alt="Screenshot 2020-10-22 at 23 59 34" src="https://user-images.githubusercontent.com/5913559/96934533-a63a9480-14c2-11eb-8651-51aa9dd2049b.png">

[2020-10-22 22:01] Glagnar commented on #154
If you like, I can let you have my username and key if you need to test 😃

[2020-10-23 07:38] Glagnar commented on #153
We are looking to run Scorpio on OpenShift, so is there anything that is preventing Scorpio from running on Kubernetes ? @arpitNEC

[2020-10-23 07:49] arpitNEC commented on #153
hello @Glagnar ,
We are planning to deploy the Scorpio Broker on Kubernetes and till now we have tested the Scorpio Broker(both all in one architecture and distributed architecture ) with the multi-node deployment and everything is working smoothly.

[2020-10-23 08:44] #148 closed

[2020-10-23 12:23] Glagnar commented on #153
I am also testing something similar, and am stuck at having Scorpio connect to a separate Kafka cluster.
#154

[2020-10-23 13:09] ScorpioBroker commented on #154
Hi,
i think i got the problem. We are using also the spring cloud kafka binders which are using another config option.
We haven't really yet played with this scenarios so this isn't properly documented. Sorry but that.
If you add the --spring.cloud.stream.kafka.binder. options should do the trick
--spring.cloud.stream.kafka.binder.brokers is the only one we are setting manually
please find the sec

[2020-10-27 17:08] idomingu opened #155 "Partial Attribute Update not triggering subscription notifications"
Hello everyone,

I'm new to ScorpioBroker and I just started playing with NGSI-LD subscriptions. I have seen that issuing a Partial Attribute Update on an attribute of a subscribed entity is not triggering notifications. However, an Update Entity Attributes operation for the same attribute does trigger a notification. My understanding of ETSI CIM 009 1.2.2 spec is that when any of the members of a

[2020-10-28 16:56] idomingu opened #156 "Context sources and context information subscriptions"
Hello everyone,

I was wondering whether Scorpio supports context information subscriptions when subscribed entities are fully/partially provided by a context source. Standard GS CIM 009 1.3.1 points the following in clause 4.3.3:

I am facing a scenario where a Context Source provides information on the property of an entity. For queries, Scorpio successfully forwards the NGSI-LD Entity Query req

[2020-11-02 12:34] Glagnar commented on #154
I am now able to connect to Kafka, but only when I change the application.yml file directly. The setup below actually works, and connects to a cloud hosted Kafka instance.
Could you perhaps please advise me how to do the same configuration via. parameters to the Docker container ? It seems to be slightly more complicated to pass the security information to the docker container, so perhaps you have

[2020-11-02 14:14] martin-p-bauer commented on #155
After a quick look, it seems that your understanding is correct and this is actually a bug. We will check it further and hopefully be able to fix it soon.

[2020-11-02 14:32] martin-p-bauer commented on #156
Again I think your general understanding is correct. If you subscribe to a Distribution Broker and it has a registered Context Source that may have relevant information, the Distribution Broker will in turn subscribe to the Context Source, so the assumption is that Context Sources implement the subscription interface. In case the Distribution Broker receives a notification from the Context Source,

[2020-11-02 17:26] idomingu commented on #156
Hello,

Thanks for your explanation. The issue I'm trying to describe is that once a Context Consumer subscribes to the Distribution Broker, then the Distribution Broker doesn't seem to subscribe to the Context Source that provides the information. As a result, the Context Source is left out of the subscription loop. Let me show an example:

**Environment**

- scorpiobroker/scorpio:scorpio-aaio_1.

[2020-11-03 10:12] martin-p-bauer commented on #156
Thank you for providing the example. We will check it in detail. In general, I think your understanding is correct, so this may be a bug, We will keep you updated and provide a fix if it turns out to be a bug.

[2020-11-04 16:59] idomingu opened #157 "Entity Subscription messages not stored in Kafka"
Hi everyone,

According to the [Entity Subscription flow](https://scorpio.readthedocs.io/en/latest/callFlow.html#entity-subscription), the Subscription Manager component is responsible for publishing NGSI-LD subscription requests under the "SUBSCRIPTIONS" topic in Kafka. However, if I subscribe to this topic and then send an NGSI-LD create subscription request to the broker, no messages are receiv

[2020-11-05 09:41] ScorpioBroker commented on #157
Hi,
yes this is correct this is a rather recent change. We decided to store the subscriptions in filedb for persistence. (before we used kafka for that but ttl for messages was way to high like that).
Now that had some unforseen consequences as your issue #156.
I'll get to that as soon as i can.

[2020-11-06 17:47] bobeal opened #158 "Error when trying to retrieve the temporal evolution of an entity"
Hello,

I created a temporal entity (via a POST request on `/ngsi-ld/v1/temporal/entities/`) with the following payload :

[code]

I received a 201 response with the expected `Location` header.

I then tried to do a temporal query with a GET on `/ngsi-ld/v1/temporal/entities/urn:ngsi-ld:Vehicle:A101` (and some variants with `attrs` parameter, time filters, ...) but only got empty responses.

So I

[2020-11-07 11:47] amitrnec commented on #158
Hi,
It is working. Below get request is working here.
/ngsi-ld/v1/temporal/entities?type=Vehicle&attrs=speed&timerel=after&time=2010-08-14T12:00:00Z

Kindly  share what type of get request you are trying to do.
Thanks.

[2020-11-07 19:53] bobeal commented on #158
Hi,

I've just tried the same request than in your example and still got no response and the following error in the logs:

[code]

Details of the HTTP request:

[code]

PS: I'm running Scorpio in Docker mode, using `docker-compose-dist.yml` file from release FIWARE_7.9.

[2020-11-10 06:04] amitrnec commented on #158
Hi,
I have tested with docker-compose-aaio.yml and scorpio:scorpio-aaio_latest .It is working with that. But there is some issue in  docker-compose-dist.yml file due to not updated in docker. However the issue has been fixed in Fiware 7.9 .

[2020-11-11 14:44] bobeal commented on #158
Hi,

I've changed the Scorpio's Docker images tags in https://github.com/ScorpioBroker/ScorpioBroker/blob/FIWARE_7.9/docker-compose-dist.yml from 1.0.0 to FIWARE_7.9 and it works now!

Thanks!

Benoit.

[2020-11-11 14:44] #158 closed

[2020-11-12 06:32] amitrnec opened #159 "No response when trying to retrieve the q parameter with sub attribute evolution of an entity"

[2020-11-18 06:36] bobeal opened #161 "Unexpected result on a temporal query with the `temporalValues` option"
Hello,

I've created a temporal entity.

When I ask for its temporal evolution with the default format, it works as expected:

`GET /ngsi-ld/v1/temporal/entities/urn:ngsi-ld:Vehicle:A104?timerel=after&time=2020-01-01T00:00:00Z`

[code]

However, when I add the `temporalValues` option, I get this result:

[code]

Whereas I was expecting the result to be something like:

[code]

Any idea?

Thanks in

[2020-11-23 07:42] tkdwnssla opened #162 "Querying array values not working"
Querying for entity data with array values not working when query term value is not the first value in the array.

e.g. if I have an entity data like below:
[code]

When querying the "category" attribute, the data is only retrieved when the query is as follows:
`/ngsi-ld/v1/entities?type=https://uri.fiware.org/ns/data-models%23OffStreetParking&q=category=="underground"`

Other queries that does no

[2020-12-07 13:21] tanktoo commented on #155
Hi, is there any progress on this yet? We are struggling with the same issue...

[2020-12-08 16:35] rimi-itk commented on #155
We may have a fix in https://github.com/ScorpioBroker/ScorpioBroker/pull/166

[2020-12-09 11:22] amitrnec commented on #155
Fixed this issue and merge into development branch.

[2020-12-09 11:22] #155 closed

[2020-12-09 11:23] #159 closed

[2020-12-17 11:23] amitrnec opened #167 "COUNT header option"

[2020-12-17 11:27] amitrnec opened #168 "Query Language Syntax Changes to Attribute Path"

[2020-12-18 11:12] amitrnec commented on #161
Fixed & merged to development branch.

[2020-12-18 11:13] #161 closed

[2020-12-21 11:34] Glagnar opened #174 "Build error on arm64/aarch64"
Building on aarch64 generates this error

`[INFO] dockerfile: /ScorpioBroker/SpringCloudModules/gateway/dockerfile4maven
[INFO] contextDirectory: /ScorpioBroker/SpringCloudModules/gateway
[INFO] Building Docker context /ScorpioBroker/SpringCloudModules/gateway
[INFO] Path(dockerfile): /ScorpioBroker/SpringCloudModules/gateway/dockerfile4maven
[INFO] Path(contextDirectory): /ScorpioBroker/SpringClo

[2020-12-22 12:25] Glagnar opened #177 "Docker Swarm Issues"
I am having problems running the services in a Docker Swarm configuration. I am getting a lot of errors about the Eureka service, but is that even needed ?

You can test this, but just running your compose file as a stack on a single node swarm. Is it related to this error:
https://github.com/spring-cloud/spring-cloud-netflix/issues/1820

[2020-12-22 15:07] ScorpioBroker commented on #174
Hi,

thanks for the info. We haven't tried to make arm builds tbh. We are using the standard openjdk image. I'll see if i can move it to a higher version of the jre which has an arm64 v8 version with it.

[2020-12-22 17:25] Glagnar commented on #174
Great - as a quick fix I updated the files to use the arm64v8/openjdk base image, but it would be nice to see a more generic solution.

[2020-12-22 17:29] Glagnar commented on #174
I am guessing that it will be more relevant when the AppleM1 chip is more popular and the docker version for it comes out of preview. I was using it to test on a cluster of RaspberryPI's and ARM64 Amazon AWS instances.
https://docs.docker.com/docker-for-mac/apple-m1/

[2021-01-04 16:18] smirnp opened #179 "Update & Delete attributes does not work when attribute name is URI"
Hi all!

It seems to be a bug:

Here is my entity:

[code]

Trying to delete the "http://schema.org/identifier" attribute and it gives me 'HTTP Status 400 – Bad Request'

[code]

Trying to update the attribute and it returns me the same 'HTTP Status 400 – Bad Request'

[code]

For simple attribute names (observes1) the DELETE works, but sets a value as empty array ([]) instead of complete deletion

[2021-01-04 18:25] Glagnar commented on #177
I am still having issues, it is quite easy to replicate.
First build the containers
[code]

Then you need to edit the compose file, as the version of the images generated has been updated in the pom file, without updating the compose file. E.g.
[code]
to
[code]

Then deploy the stack:
[code]

I get the following error when querying:
[code]

via. the following
[code]

Maybe there is a problem in th

[2021-01-04 18:26] Glagnar commented on #177
Please note, that the IP's you will be getting, are different than the ones in my examples above.

[2021-01-05 10:14] ajayyadavnec commented on #177
Hi @Glagnar,
Implementation of K8s is in-progress. We will update the manual by 11 Jan and it would be available to the community.
K8s implementation would be further strengthen in this quarter.
Other community member would look your issue.

[2021-01-05 11:46] Glagnar commented on #177
Thank you - we will be using k8s anyway for production. I just wanted to give you feedback on Docker Swarm as well, since some may choose to go that way.

[2021-01-06 15:08] HoucemKacem opened #181 "Error when trying to retrieve a Context Source Registration Subscription"
Hello,

I started Scorpio (FIWARE_7.9.1 release) with docker-compose.

I created a Context Source Registration Subscription with the following payload:
[code]

It was successfully created since I received a 201 response.

Then when I tried to retrieve it with a GET request on `/ngsi-ld/v1/csourceSubscriptions/urn:ngsi-ld:Subscription:cSourceRegistration:01`, I received the following response:

[co

[2021-01-06 15:14] HoucemKacem opened #182 "Error when trying to query a Context Source Registration Subscriptions"
Hello,

I started Scorpio (FIWARE_7.9.1 release) with docker-compose.

I created a Context Source Registration Subscription with the following payload:
[code]

It was successfully created since I received a 201 response.

Then when I tried to query Context Source Registration Subscriptions it with a GET request on `/ngsi-ld/v1/csourceSubscriptions`, I received the following response:

[code]

The

[2021-01-09 05:16] amitrnec commented on #182
Fixed this issue in #183

[2021-01-09 05:17] amitrnec commented on #181
Fixed this issue in #183

[2021-01-11 09:04] idomingu commented on #157
Hi @ScorpioBroker ! Any progress on this issue?

Many thanks in advance,

Cheers,
Nacho.

[2021-01-19 09:30] brechtvdv opened #187 "Entity id that is an URL"
I want to create an entity with an URI that is dereferenceable (URL), however, I'm unable to retrieve such entity with the GET /entities/{entityId} endpoint.

For example, an entity with id `http://example.org/test`:
[code]

Fetching this entity returns a 400 Bad Request:
[code]

[2021-01-19 10:09] amitrnec commented on #187
Already resolved in Bugfix-179 #184

[2021-01-19 10:32] brechtvdv commented on #187
Indeed, probably fixed. Can you update the docker image so I can test this? https://hub.docker.com/r/scorpiobroker/scorpio-aaio_dev/tags?page=1&ordering=last_updated

[2021-01-19 10:40] amitrnec commented on #187
Merged into development branch. Yes sure we will update that in next docker image release.

[2021-01-21 14:35] idomingu opened #188 "Partial Attribute Update does not update modifiedAt value"
Hi everyone,

While testing ```scorpio-aaio_1.0.3``` Docker image I have noticed that issuing a Partial Attribute Update does not change the value of the associated ```modfiedAt```.

Thanks in advance,

Cheers,
Nacho.

[2021-01-21 15:15] amitrnec commented on #188
Kindly share the payload and post/get api request.

[2021-01-21 15:18] amitrnec commented on #167
merged into development branch.

[2021-01-21 15:18] #167 closed

[2021-01-21 15:19] amitrnec commented on #182
merged into development branch.

[2021-01-21 15:19] #182 closed

[2021-01-21 15:21] amitrnec commented on #181
merged into development branch.

[2021-01-21 15:21] #181 closed

[2021-01-21 15:22] amitrnec commented on #179
merged into development branch.

[2021-01-21 15:22] #179 closed

[2021-01-21 16:40] idomingu commented on #188
Apologies. Here is an example:

1. Create example "Vehicle" entity.

[code]
2. Let's retrieve the entity we just created. Request is configured so that system attributes are returned:

[code]

Which results into the following response:

[code]

3. Issue Partial Attribute Update for the ```speed``` property:
[code]

4. Once again, retrieve the entity with system attributes:
[code]

Which returns th

[2021-01-22 07:53] ScorpioBroker commented on #162
Hi this is fixed now and in the release

[2021-01-22 07:53] #162 closed

[2021-01-22 13:30] amitrnec commented on #188
Fixed this issue in #189

[2021-01-22 15:58] ScorpioBroker commented on #174
Hi,
i updated it to use openjdk:11-jre. I tested building it on an rock64 SBC running Debian Buster ARM64v8. (which i don't recommend anyone...takes forever to download and unpack dependencies).
I will merge into development today. But it didn't make it to the docker release 1.0.4. I'll make a new dockerhub version next week which will include the change.

[2021-01-22 15:58] #174 closed

[2021-01-25 12:07] tanktoo opened #190 "Sysattrs of sub properties don't get updated properly. This affects subscriptions not be not working for those entities."
Hi,
we found another bug. If someone subscribes for an entity of type "A" there will be no notification if "A" contains a "unitCode":
[code]
As soon as "unitCode" is deleted from the entity and the value is updated again notifications are sent.

[2021-01-25 13:08] #187 closed

[2021-01-25 16:28] tanktoo commented on #190
After further investigation we think that the problem is not with the "unitCode" but with the nested subproperty, here "https://w3id.org/test#hasExampleValue".
If we create an entity with a subproperty the first time, a notification is sent and received. If we update an already existing entity that has a subproperty (as shown above) there is no notification sent but it is updated inside the broker

[2021-01-25 16:31] tanktoo commented on #150
Is this related to https://github.com/ScorpioBroker/ScorpioBroker/issues/190?

[2021-01-25 16:34] ScorpioBroker commented on #190
Hi,

yes that also matches the errors i'm seeing here, that it's the subpoperty not getting a proper modifiedat attached to it. It should be the same problem as #150. I'll look into it next. I'll close #150 now as this is the more active thread.

[2021-01-25 16:34] tanktoo commented on #190
Related to this bug report https://github.com/ScorpioBroker/ScorpioBroker/issues/150?

[2021-01-25 16:37] ScorpioBroker commented on #150
closed as duplicate of #190

[2021-01-25 16:37] #150 closed

[2021-01-27 14:34] Glagnar commented on #177
@ajayyadavnec I cannot find the k8s deployment details. Can you send me a link ?
Are you working on an 'operator' component, or will it be a more manual process ?

[2021-01-28 16:29] ajayyadavnec commented on #177
@Glagnar , Pull request is raised https://github.com/ScorpioBroker/ScorpioBroker/pull/180 but it is not merged to the development branch yet.

[2021-01-29 10:58] arpitNEC commented on #177
@Glagnar , pull request is now merged to the development and now development also contains the k8s files but there are some architectural related decisions which is needed to be finalized for the distributed deployment of the Scorpio broker that's why distributed deployment may not work properly, but you can use the aaio deployment of the Scorpio, it's working fine.

[2021-02-01 12:56] ScorpioBroker opened #192 "HTTP Client does not take OS proxy settings into consideration"
When operating behind a proxy the current impl of scorpio does not take proxy settings from the OS nor do we provide a way to configure a proxy at the moment.
HTTPUtils shall be changed to use the systemdefaulthttpclient by default to respect OS settings on default and shall get new config options to support different proxy setting.
Particular this can cause a startup error for the core context no

[2021-02-02 00:07] daniel-gonzalez-sanchez opened #193 "Subscriptions to entities with one-to-many relationships don't trigger notifications"
Hi everyone,

I was playing with NGSI-LD subscriptions when I discovered a possible problem. Following the ETSI CIM standard, entity definition with one-to-many relationships are fully supported by NGSI-LD. But I've checked that issuing a Creation or Update operation of a subscribed entity (with one-to-many relationships) is not triggering notifications.

Let me show an example:

**Environment**

[2021-02-02 10:36] martin-p-bauer commented on #193
The first part seems to be a bug, i.e. 2 should trigger a notification. The syntax you provide below is not supported in NGSI-LD as it is not equivalent to the above (no way to put a datasetId or other meta data). Orion-LD may still support it for some backward compatibility reasons, but it is not valid NGSI-LD according to the specification.

We are currently discussing in ETSI ISG CIM to also su

[2021-02-02 11:09] #188 closed

[2021-02-02 13:39] daniel-gonzalez-sanchez commented on #193
Thank you so much for answering so fast and for the clarification about the correct syntax for one-to-many relationships in entity definitions follow by NGSI-LD data-model and Scorpio Broker. I had already read about this, but I assumed that this unofficial simplified syntax supported by ORION-LD Broker could be adopted by Scorpio. And it's true, this representation is more limited and doesn't all

[2021-02-02 13:59] ScorpioBroker commented on #193
Hi,
Yes this is a bug. I think i got the problem pined down. PR should be incoming soon.

[2021-02-02 14:00] ScorpioBroker commented on #193
for tracking this is related to #190 as well and will come in the #191 PR

[2021-02-04 15:37] #156 closed

[2021-02-04 15:37] ScorpioBroker commented on #193
PR is in new release is out as 1.0.5

[2021-02-04 15:37] #193 closed

[2021-02-04 15:38] ScorpioBroker commented on #190
New release 1.0.5 is out has the fix for this

[2021-02-04 15:38] #190 closed

[2021-02-09 06:53] amitrnec opened #195 "Batch operations - Initial support for Batch queries"

[2021-02-09 12:56] StWiemann opened #196 "Postgres Connection Attempt Failed"
Hi there, I would like to test ScorpioBroker. But so far I had no success to deploy it onto a small kubernetes test-cluster with 5 nodes.
I am using the Rancher-UI for most stuff.
Deployment is aaio, postgres seems to accept other connections (tested with grafana) but scorpio won't start with a bunch of warnings and an error when it comes to database connection.

Scorpio-Config:

image: scorpiobro

[2021-02-10 05:06] arpitNEC commented on #196
hello @StWiemann,
Just for confirmation have you deployed the Postgres, zookeeper, and Kafka deployment as well as their services before deploying the Scorpio Broker and in the following order.
If not then please follow the steps:-
1. deploy PV and PVC file for Postgres(https://github.com/ScorpioBroker/ScorpioBroker/blob/development/KubernetesFile/aaio-deployment-files/pv%20and%20storages/postgres

[2021-02-10 10:21] ScorpioBroker commented on #196
Hi,

@StWiemann this is indeed a mess up in our documentation. The parameters are without hikari so e.g.
writer.datasource.url instead of writer.datasource.hikari.url.

I'll patch the documentation.

[2021-02-10 14:47] StWiemann commented on #196
Thank you for the quick response! With changing the URL-env-names and also adding `--spring.cloud.stream.kafka.binder.brokers=kafka-cluster.kafka.svc.cluster.local:9092` it is no longer crashing. I'll have to test it before I can confirm that it runs properly, but so far everything looks fine. Thanks!

[2021-02-10 14:47] #196 closed, assigned to arpitNEC

[2021-02-10 16:05] brechtvdv commented on #187
I confirm this is working now in the latest build

[2021-02-10 16:10] brechtvdv opened #198 "Support for language-tagged properties"
The broker fails when I want to add an entity that has a language-tagged property:
[code]

This returns following error:
[code]

It works when I remove the `@lang: "nl"`.

[2021-02-10 16:32] brechtvdv opened #199 "Bug retrieving entity with context in Link header"
My JSON-LD context uses dots ('.') in prefixes, e.g. inside http://data.vlaanderen.be/context/gebouwenregister.jsonld there is a prefix `Gebouw.geometrie`:
[code]

There is a bug when I want to retrieve an entity through this context file.
For example:
I create following entity:
[code]

And then retrieve it with the context file in a Link header:
[code]

This returns following JSON-LD:
[code]

Ins

[2021-02-11 04:12] amitrnec commented on #187
Yes it is working now.

[2021-02-11 07:59] martin-p-bauer commented on #198
Looking at the current JSON-LD 1.1 specification, I cannot find @lang, but instead there is @language. If you use that instead,
it seems to work for me.

[code]
which correctly returns `201 Created`.

Retrieving it again
[code]

 I get the correct result:
[code]

[2021-02-11 09:34] ScorpioBroker commented on #199
Hi,

it looks like our json-ld library is acting a bit weird there compared to the reference implementation. However i tried your content at the json-ld playground and it doesn't compact your entry at all. https://tinyurl.com/y4sleszj
I played a bit around on the playground with your context and it seems to me that the @type definition is messing the compaction up. removing it gives the expected r

[2021-02-11 09:50] brechtvdv commented on #198
You're right. Thanks for the quick response!

[2021-02-11 09:50] #198 closed, assigned to nobody

[2021-02-11 10:58] brechtvdv commented on #199
Thanks for finding the cause of this behavior. I'll look into changing the JSON-LD context

[2021-02-11 10:58] #199 closed, assigned to nobody

[2021-02-16 18:43] mainakae opened #200 "No notifications after attribute deletion."
Hello everyone,

In the course of the IoTCrawler project, we have noticed another issue related with notifications: after deleting an attribute on an entity, the broker will not send out notifications if that entity is updated.

Best regards,
Pedro.

[2021-02-17 09:27] ScorpioBroker commented on #200
Hi,

can you elaborate a bit. Do you mean you are not get the notification for the delete (that's normal according to spec) or that once you delete an attrib of an entity you never get a notification for this entity again?
BR
Benni

[2021-02-17 12:28] mainakae commented on #200
Yes, sorry Benni, the issue is that after deleting the attribute, no further notifications are received (not the one regarding the deletion, but any other change).

BR!

[2021-02-19 05:11] amitrnec opened #201 "Post Queries Implementation"

[2021-02-19 12:09] idomingu opened #203 "Notifications do not include "unitCode""
Hi everyone,

I have come across an issue regarding NGSI-LD notifications. It seems that notifications for those entities that contain the `unitCode` do not include this sub-attribute as part of the notification.

**Environment**

- scorpiobroker/scorpio:scorpio-aaio_1.0.5

**Steps to reproduce**

1. Create a subscription for a sample `Vehicle` entity type:

[code]

2. Create a new instance of the

[2021-02-20 11:32] amitrnec commented on #203
Fixed this issue in #204

[2021-02-21 23:27] daniel-gonzalez-sanchez opened #205 "Notifications from entities with one-to-many relationships don't include the full array of objects"
Hi everyone,

I have discover another issue regarding NGSI-LD notifications from entities with one-to-many relationships (it is connected to a previous closed issue - #193). I've checked that notifications for those entities that contain one-to-many relationships don't include the full array of objects in the relationship as part of the notification.

Let me show an example with the same use case

[2021-02-22 10:36] ScorpioBroker opened #206 "Security enabled docker builds might miss jaxb due to upgrade of base image"
Since we updated the base image for the docker builds jaxb is not included in the base jre.

[2021-02-23 09:03] amitrnec commented on #205
Fixed this issue in #208

[2021-02-26 10:38] idomingu opened #211 "Incomplete subscription request forwarded to Context Source"
Hi everyone,

Following up on the #156 discussion I have noticed that subscription forwarding to Context Sources is not working properly. Say we have a Context Source which provides information for a sample entity. Once a context information subscription request is sent to the Distribution Broker, it forwards the request to the matching Context Source although the forwarded request is different th

[2021-03-05 04:25] amitrnec commented on #211
Fixed this issue in #212

[2021-03-05 06:14] KazuhitoSuda-NEC opened #213 "Temporal query fails with Bad Request Data."
NGSI-LD spec defines `timeAt` and `endTimeAt` as prameters for temporal query, but the following query fails with `Bad Request Data.`.

[code]

A query is successful when replacing `timeAt` with `time` and `endTimeAt` with `endTime`. This is not compliant with the NGSI-LD spec.

[code]

[code]

[2021-03-05 06:59] amitrnec commented on #213
Hi @KazuhitoSuda-NEC
timeAt and endTimeAt are part of release "gs_cim009v010301p" or "ngsi-ld-core-context-v1.3"
" and we are currently working on it and its in the finishing stage and likely to be merge in the development in the upcoming release  but if you still wants to use it you can pull from the branch "feature-137_new" but this is not backward compatible so all the data might not work prope

[2021-03-05 07:04] KazuhitoSuda-NEC commented on #213
Thank you for your quick response! I understand.

[2021-03-05 07:04] #213 closed, assigned to nobody

[2021-03-05 14:13] ScorpioBroker commented on #213
Hi @KazuhitoSuda-NEC
just as an addon to Amits answer. While the code changes are almost done for 1.3.1, we are still investigating on how to migrate old databases to the new format when the changes are in. So it might not be all ready for the next intermediate FIWARE release (14th of march afaik) but maybe come some time after this one.
Until we have this figured out properly we would still keep

[2021-03-07 20:49] KazuhitoSuda-NEC commented on #213
After a new version for 1.3.1. is released, I will try it.
Thank you.

[2021-04-04 21:12] daniel-gonzalez-sanchez opened #219 "Append operation on multi-relationships of subscribed entities does not trigger notifications"
Hi everyone,

I have discover another possible issue regarding NGSI-LD notifications from entities with one-to-many relationships or multi-relationships (it is connected to a previous closed issue - #205). I've checked that issuing an Append operation on the
multi-relationship of a subscribed entity does not trigger notifications.

Let me show an example with the same use case I followed in the re

[2021-04-06 10:46] amitrnec commented on #219
Hi,
I think i got the problem pined down. PR should be incoming soon.

Thanks,
Amit

[2021-04-13 12:29] amitrnec commented on #219
Fixed this issue in #222

[2021-04-16 12:14] ScorpioBroker commented on #105
Moved away from travis

[2021-04-16 12:14] #105 closed

[2021-04-16 12:15] #211 closed, assigned to nobody

[2021-04-16 12:17] #200 closed, assigned to nobody

[2021-04-16 12:17] #203 closed, assigned to amitrnec

[2021-04-16 12:18] #205 closed, assigned to nobody

[2021-04-16 13:31] joriwinderickx-fm opened #223 "Slow insert operations by historymanager (temporal representation of entities)"
We are evaluating the use of the temporal interface of NGSI-LD using Scorpio in high data rate scenarios. Our data flow consists of sending batches of data to the temporal interface and polling the interface at a certain interval to retrieve the latest known values of a certain entity/attribute.

Example transmit script:

[code]

Example receive script:

[code]

Docker compose setup:

[code]

We d

[2021-04-22 09:58] ScorpioBroker commented on #223
Hi,

yes there is a delay introduced by these creates going through kafka from the HistoryManager to the StorageManager.

Just as a quick background.
This is mainly done to decouple DB operations from the API microservices and allow independent scaling of the microservices.
The problem is basically that this delay from the decoupling (and (de)serialization) is only overcome by scaling at a certain

[2021-04-26 04:44] amitrnec opened #224 "Multi-Tenant Support"

[2021-05-25 18:12] Papadakni opened #225 "Subscription Service aiio docker compose"
I am running scorpio with the default configuration, following the building and installation guide, using docker compose and the almost all in one .yml file, for testing purposes. I noticed that I could not get subscriptions to work, and at first I thought it had to do with misconceptions I had with the ngsi-ld api.
However I realised while looking at scorpio/v1/info/health/ that the subscription

[2021-05-26 06:00] arpitNEC commented on #225
hello @Papadakni ,

Hope you are doing good,
I used this [docker-compose file](https://github.com/ScorpioBroker/ScorpioBroker/blob/development/docker-compose-aaio.yml)  for the deployment and it's working fine for me.
Please try this file for deployment, and if the issue remains the same please do let me know.

![Screenshot 2021-05-26 113003](https://user-images.githubusercontent.com/64079608/1196

[2021-05-26 16:29] Papadakni commented on #225
Hello and thanks for the quick reply, I tried the file you sent but for some reason I still have the same issue :/
![image](https://user-images.githubusercontent.com/10787842/119697178-97510180-be58-11eb-9938-6bf89d3002a4.png)
Thanks again for your time.

[2021-05-27 11:04] arpitNEC commented on #225
hello @Papadakni ,

I have gone through the same scenario and figured out that yes subscription manager has some issue in it and we have started working on fixing the same. In the meanwhile, you can use the **scorpiobroker/scorpio:scorpio-aaio_1.0.5** docker image instead of scorpiobroker/scorpio:scorpio-aaio_latest docker image in the docker-compose I have tested that image, and it's working fine

[2021-06-04 11:04] diego-gv opened #227 "Subscription to QuantumLeap"
Hello,

I am trying to create a subscription in Scopio towards the QuantumLeap to store data (time series) from air quality sensors, but it fails when the subscription is made.

The stack I am using is as follows:

- Postman
- Scorpio 1.0.5
- QuantumLeap 0.8
- CrateDB 4.1.8
- Grafana 6.7.4

The entity I create is as follows:

[code]

I create the subscription as follows:

[code]

The entity I upda

[2021-06-08 14:02] diego-gv commented on #227
Hello, the problem persists. Thank you.

[2021-06-08 14:10] ScorpioBroker commented on #227
Hi,

unfortunately none of us has used QuantumLeap so i can't really help you here. it seems like a bug in quantumleap to me at the moment. When i get some time i'll check our notification output to make sure we are not producing something wrong here.

[2021-06-15 10:11] jason-fox opened #229 "Batch upsert with 8 entities causes Scorpio to crash"
Running with the AAIO docker compose and the latest release of scorpio `FIWARE-8.0.0`

Wait for all services to come up and then send a batch upsert as shown:

[code]

Result -  `curl: (7) Failed to connect to localhost port 9090: Connection refused`

### Scorpio log

[code]

### Postgres log

[code]

[2021-06-15 10:51] amitrnec commented on #227
Hi,

Please check "http://quantumleap:8668/v2/notify"notification endpoint that is provided in subscription request. I think this endpoint related to ngsi-v2 version so need to validate by QuantumLeap team.

Thanks.

[2021-06-16 08:13] ScorpioBroker commented on #229
Hi Jason,

i tried to recreate this situation on my side by didn't succeed.
Do you have some specs for the machine you tried to run in on?
We made quite a few changes to the database interaction in the 8.0.0 release and overhauled them now a bit. Could you try if get the same problem with scorpiobroker/scorpio:scorpio-aaio_dev.

Thanks
Benni

[2021-06-16 10:38] jason-fox commented on #229
You can find my set-up on the **NGSI-LD** branch of this repo: https://github.com/FIWARE/tutorials.Short-Term-History

[code]

My system Information returns the following:

[code]

Amend [this line](https://github.com/FIWARE/tutorials.Short-Term-History/blob/NGSI-LD/.env#L11) to run using `dev` or another tagged release.

Given the age and accumulated amount of files, it is likely the case that th

[2021-06-16 11:19] ScorpioBroker commented on #229
Hi,
the spec should be more than sufficient, my current dev laptop is in the same ballpark. the behaviour is a bit weird it seems like kafka just died in your machine ... weird. When machine would be too slow it would just take forever but should not just die like that. i'll try to run your tests exactly again and see if i get the error.

BR
Benni

[2021-06-16 12:54] jason-fox commented on #229
Weird. A re-test on an Ubuntu machine did not cause the same error.

[2021-06-16 14:56] jason-fox commented on #229
I have cleaned, rebooted and updated my docker engine and the crash is no longer occurring against `dev` - looks like this is a false positive.

[2021-06-16 14:56] #229 closed, assigned to ScorpioBroker

[2021-06-20 13:06] #177 closed

[2021-06-20 13:07] #219 closed, assigned to amitrnec

[2021-06-22 10:24] #225 closed, assigned to nobody

[2021-06-22 10:26] ajayyadavnec commented on #225
Please open the issue if you still face the problem

[2021-06-23 07:05] diego-gv commented on #227
Hi,

I have tried different subscription variations, but I can only get QuantumLeap to create the metadata table in the CrateDB.

The conclusion I come to is that there is still a lack of either compatibility with QuantumLeap or maturity of QuantumLeap with NGSI-LD.

Best regards,

[2021-07-08 11:13] FerrariAndrea opened #230 "Can't resolve address: kafka/<unresolved>:9092"
Hello,

I m trying to run Scorpio locally with Kafa, Postgres and Zookeeper in an online docker.
This is my application.yml of AllInOneRunner package (x.x.x.x is my docker IP through the internet):

[code]

I received this error:

[code]

What am I doing wrong, there is any configuration-step that I am missing?

Thanks for your help.

[2021-07-13 12:07] #224 closed, assigned to nobody

[2021-07-13 14:07] amitrnec commented on #230
Hi,
 We have started working on the issue and we resolve it asap.

Thanks,
Amit

[2021-07-15 08:09] pawannec commented on #230
Hi,
please share the steps used to deploy kafka,postgres,zookeper in online docker.

Thanks
Pawan Kumar

[2021-07-15 08:47] FerrariAndrea commented on #230
Hi,
This is the docker-file:
[code]

[2021-07-15 08:54] pawannec commented on #230
Hi,
you need to replace hostname with machine IP
Ex:-
 kafka:
    image: wurstmeister/kafka
    hostname: <ip address of kafka host system>
    ports:
      - "9092:9092"
    environment:
      KAFKA_ADVERTISED_HOST_NAME: <ip address of kafka host system>
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
      KAFKA_ADVERTISED_PORT: 9092

Thanks
Pawan Kumar

[2021-07-19 09:01] FerrariAndrea commented on #230
Hi,
Thank you, now Kafka is reachable from Scorpio "AllInOne", so [**this is the solution**](https://github.com/ScorpioBroker/ScorpioBroker/issues/230#issuecomment-880520926).

Now I have another problem with the connection between services, I'm not sure I should ask in this topic.
With this configuration, seems the gateway fail to find the SpringCloud been (i m not so confident with SpringCloud).

[2021-07-19 09:44] jlanzarotti opened #231 "RegistryManager doesn’t bootstrap from spring_args"
I'm trying to run on a custom database with the helm dist-deployiment-files version. The only component that doesn’t start even passing all the spring_args options is the RegistryManager.

A did a simple test by building and pulling the latest image:

`docker run -it  scorpiobroker/scorpio:RegistryManager_latest bash`

Then even if passing a custom `spring.datasource.url` it keeps trying to connec

[2021-07-19 10:18] pawannec commented on #230
Hi

**If I use "localhost" instead of the IP of my docker server all work**
please do elaborate on this statement, at which place you used localhost instead of IP. please share the complete configuration.
please check AllInOne Runner is working by making the request at port 27015 instead of 9090.

Thanks
Pawan kumar

[2021-07-19 10:56] FerrariAndrea commented on #230
Hi,

The request (http://localhost:27015/ngsi-ld/v1/entities/) at port 27015 instead of 9090 didn't work,
I receive  `The requested URL can't be reached, net::ERR_CONNECTION_REFUSED`.

Currently, I m working on 2 configurations:

**The first one** is all hosted on my local machine, and this one works fine.
I m running zookeeper, kafka, postgres, pgadmin local docker instance and EurekaServerApplic

[2021-07-19 11:36] arpitNEC commented on #231
hello @jlanzarotti,

Please add the below configuration into the docker config/application.yml file (if not present)with the updated values:

reader:
  enabled: true
  datasource:
    url: "jdbc:postgresql://localhost:5432/ngb?ApplicationName=ngb_storagemanager_reader"
    username: ngb
    password: ngb
    hikari:
      minimumIdle: 5
      maximumPoolSize: 20
      idleTimeout: 30000
      pool

[2021-07-20 01:20] jlanzarotti commented on #231
Hi @arpitNEC thanks for your help!

I can confirm that adding that config into the config/application.yml is changing the db endpoint... however, that doesn’t allow me to configure the app with env variables. Trying to run as the docker entry does
` CMD ["/bin/sh" "-c" "java -jar $JAR_FILE_RUN ${spring_args}"]`
and overriding the same variables as you provided, does not change the runtime and runs

[2021-07-22 09:20] pawannec commented on #230
Hi,
Kindly share the details of the setup used to deploy  Postgres, Kafka & zookeeper on the docker online server .
Thanks,
Pawan Kumar

[2021-07-26 08:16] FerrariAndrea commented on #230
Hi,
This is the update docker setup: (x.x.x.x is the IP)

[code]
Thanks,
Andrea

[2021-08-25 15:00] hdelva opened #234 "Pagination in temporal queries"
With the regular `/entities` endpoints, it's possible to use the `limit` query parameter to request only a fixed amount of data, but is there something similar for the `/temporal/entities` endpoint? I can find nothing useful in the NGSI-LD specification document (v1.4.2), as this query parameter is mandatory on all endpoints _except_ the temporal one. This seems a bit strange, as the temporal API

[2021-08-26 06:20] amitrnec commented on #234
Hi,
Currently it is not implemented in temporal queries but we can plan to implement it later.

BR,
Amit Raghav.

[2021-08-31 11:16] idomingu opened #237 "Notifications triggered for non-watched attributes"
HI everyone,

Having a NGSI-LD subscription configured with a specific `watchedAttributes`, triggers NGSI-LD notifications when other attributes are updated in the entity.

**Environment**
- scorpiobroker/scorpio:scorpio-aaio_FIWARE_8.1.0

**Steps to reproduce**
1. Create subscription to receive notifications upon changes on the `speed` property in `Vehicle` entities`:
[code]
2. Create `Vehicle` e

[2021-09-02 06:23] amitrnec commented on #237
Fixed this issue in #238

[2021-09-03 09:44] #237 closed, assigned to nobody

[2021-09-10 09:08] pawannec commented on #230
Hi
Can you please check and let me know that whether you are able to ping both the machines(node).

Thanks,
Pawan

[2021-09-16 12:17] dalxds opened #239 "[question] Auth - Integration with Keyrock"
Whereas I've read the docs on the security part, I can't seem to understand the component that Scorpio uses to handle Authentication/Authorization.
Is there a current integration with an IDM such as Keyrock? What is the proposed implementation for security?
Thanks!

[2021-09-23 14:28] ScorpioBroker commented on #239
Hi,

scorpio basically uses spring clouds support for oauth. This can be either configured in the application.yml or via command line/in a docker-compose file via spring_args env var.

the configuration in the yml file would look like this.
security:
  active: true
  oauth2:
    client:
    # for keycloak configure
      #accessTokenUri: http://10.0.4.33:8080/auth/realms/mykeycloak/protocol/openid

[2021-09-23 14:30] ScorpioBroker commented on #239
sorry github swallows the indents in the post please check the application.yml example here at the bottom
https://github.com/ScorpioBroker/ScorpioBroker/blob/development/AllInOneRunner/src/main/resources/application-dev.yml

[2021-09-24 12:01] dalxds commented on #239
thank you!

[2021-09-24 12:01] #239 closed, assigned to nobody

[2021-09-28 09:43] fbattello opened #242 "version endpoint"
Is there any version endpoint available ?
An endpoint that would send back the vendor info as well as the version number.
I've found the info path with some endpoints such as health, types, but nothing that reports information about the version
curl -H "Accept: application/json" 127.0.0.1:9090/scorpio/v1/info

[2021-09-28 09:47] ScorpioBroker commented on #242
Hi,

no there is none yet. /info was more meant for management infos. But we can for sure look into adding this. But i have so ahead it is a bit low in the priority so we have to see when someone has a bit of time to add it.

[2021-10-06 06:48] ScorpioBroker opened #244 "Csource registry ids are still considered existing after delete"
When deleting an existing registry entry Scorpio replies with already exists when trying to reuse the same ID.

[2021-10-20 10:14] amitrnec commented on #234
Hi,
Pagination/limit implemented in temporal queries and code merged in dev branch.

BR,
Amit Raghav.

[2021-10-26 14:14] brechtvdv commented on #234
Can you update the Docker image: scorpiobroker/scorpio:scorpio-aaio_latest ?

[2021-10-28 11:59] subhommitra opened #250 "Maven install failing at QueryTest"
Cloned the repo (tried with both *master* and *development* branches), imported into Eclipse, and ran `mvn install`. Here's the result:
[code]
Any help will be appreciated.

[2021-10-28 12:04] subhommitra commented on #250
Here's the full console output.
[code]

[2021-10-28 14:27] amitrnec commented on #250
Hi,
you can execute "mvn install -DskipTests" command.

Thanks,
Amit.

[2021-10-28 15:04] ScorpioBroker commented on #250
Hi,

thanks for the report. As said for now please use skipTests as temporary work around. We will fix the tests.

[2021-10-28 18:15] subhommitra commented on #250
Thanks! Was able to complete the entire build now.

[2021-11-02 11:09] ScorpioBroker commented on #234
Hi @brechtvdv ,
i've made a new release 1.1.0 and updated latest.
It's up on dockerhub now.

[2021-11-02 11:09] #234 closed, assigned to amitrnec

[2021-11-02 11:09] #231 closed, assigned to arpitNEC

[2021-11-02 11:10] ScorpioBroker commented on #201
An initial implementation of post query is released.

[2021-11-02 11:10] #201 closed, assigned to nobody

[2021-11-02 11:11] ScorpioBroker commented on #195
Batch operations are implemented, incl. batch queries

[2021-11-02 11:11] #195 closed, assigned to nobody

[2021-11-02 12:40] hlange opened #252 "Examples not working"
Hello,

I am currently experimenting with the examples in the API-Walkthrough (https://github.com/ScorpioBroker/ScorpioBroker/blob/development/docs/en/source/API_walkthrough.rst).

I can create new entries, but when I try to edit a value I get the following error:
`{"timestamp":"2021-11-02T12:26:21.131+0000","status":405,"error":"Method Not Allowed","message":"Request method 'POST' not supported",

[2021-11-02 12:46] ScorpioBroker commented on #252
Hi,
thanks for the report. yes that's a bug in the walkthrough when updating/appending an entity it has to have /attrs at the end. So post on localhost:9090/ngsi-ld/v1/entities/house2%3Asmartrooms%3Aroom1/attrs is correct. PR #216 addresses this but hasn't been merged in yet. Will do that now and close here once the PR is in

[2021-11-02 12:53] hlange commented on #252
Thanks, it works now.

[2021-11-02 13:34] hlange commented on #252
It looks like it also exist a problem with updating a specific value:

[code]

Answer:
`{"timestamp":"2021-11-02T13:32:25.615+0000","status":405,"error":"Method Not Allowed","message":"Request method 'POST' not supported","path":"/ngsi-ld/v1/entities/house2:smartrooms:room1/attrs/temperature"}`

[2021-11-02 14:20] hlange commented on #252
This command is working:
[code]

[2021-11-02 15:41] ScorpioBroker commented on #252
Hi,

yes sorry about that there was twist in mind while writing those tutorials, append is POST and update is PATCH. We will update the tutorials accordingly.

[2021-11-02 16:53] hlange commented on #252
No problem, mistakes happens! Thanks for the great work!

[2021-11-04 05:51] Neeraj-Nec opened #253 "installation issue"
Hi @ScorpioBroker ,

I am trying to install Scorpio broker in local system by source code. but due to limited recourse in my system i was trying to install postgress and Kafka , Zookeeper  on remote VM .

I am not able to set the above environment .

Please provide some hint or refer some document that help me to set the above environment .

[2021-11-06 05:00] Neeraj-Nec commented on #253
Hi ,
I am installing  scorpio  in my local system and getting the following issue

2021-11-03 16:22:55.662 ERROR 8004 --- [           main] o.a.c.c.C.[Tomcat].[localhost].[/]       : Exception starting filter [servletContainer]

java.lang.ExceptionInInitializerError: null
       at com.thoughtworks.xstream.XStream.setupConverters(XStream.java:989) ~[xstream-1.4.10.jar:1.4.10]
       at com.thought

[2021-11-08 05:39] pawannec commented on #253
Hi,
Please change below code in docker compose file.
version: '3'

services:
  zookeeper:
    image: zookeeper
    ports:
      - "2181"
  kafka:
    image: wurstmeister/kafka
    hostname: localhost/IP of the system
    ports:
      - "9092:9092"
    environment:
      KAFKA_ADVERTISED_HOST_NAME: localhost/IP of the system
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
      KAFKA_ADVERTISED_PORT:

[2021-11-08 05:40] Neeraj-Nec commented on #253
Thanks @pawannec ,

[2021-11-08 07:53] brechtvdv commented on #234
Now I don't get a 400 error when adding &count=true, but the count is still not added in the headers. Can you check?

[2021-11-08 08:02] amitrnec commented on #234
Hi,
We have only implemented pagination/limit in temporal query but still need to work on count functionality. we will implement it asap.

Thanks,
Amit.

[2021-11-09 15:20] brechtvdv commented on #234
Thanks

[2021-11-10 08:04] hlange opened #255 "Temporalentityattrinstance looks wrong"
Hello,

I had a deeper look in the implementation of the temporal interface, and it didn't look right.

I used the docker compose file with some changes so that I can access the database.

Then I went through the steps from the API walkthrough up to the point that the rooms and the house existed, after this I started a python script to change the values in one room.
[code]
Now, I would have expect

[2021-11-11 08:23] amitrnec commented on #234
Hi,

Now count functionality have implemented and raise PR #256

Thanks,
Amit

[2021-11-11 14:08] Neeraj-Nec commented on #253
hi @pawannec
I have installed the Scorpio according above instruction provided by you ,

Now i am getting following issue  from postgress docker log while creating entity

2021-11-11 13:42:22.921 UTC [1] LOG:  listening on IPv4 address "0.0.0.0", port 5432
2021-11-11 13:42:22.921 UTC [1] LOG:  listening on IPv6 address "::", port 5432
2021-11-11 13:42:22.932 UTC [1] LOG:  listening on Unix socket

[2021-11-12 05:03] pawannec commented on #253
Please run docker container on non root user.

[2021-11-12 05:05] Neeraj-Nec commented on #253
Thanks @pawannec Thanks

[2021-11-12 05:05] #253 closed, assigned to nobody

[2021-11-12 11:39] idomingu opened #257 "Append entity attribute not working with multi-attribute"
HI everyone,

The `Append Entity Attribute` feature (Section 5.6.3 of ETSI GS CIM009 v1.4.2) is not working as expected when using a multi-attribute Relationship.

**Environment**

- scorpiobroker/scorpio:scorpio-aaio_1.1.0

**Steps to reproduce**

1. Create a sample `House` entity with the `hasRoom` attribute containing multiple Relationship instances:

[code]
2. Send an append entity attribute r

[2021-11-12 11:57] idomingu opened #258 "Update entity attribute not working with multi-attribute"
Hi everyone,

The Append Entity Attribute feature (Section 5.6.2 of ETSI GS CIM009 v1.4.2) is not working as expected when using a multi-attribute Relationship. Please note that this issue could be related with #257.

**Environment**

- scorpiobroker/scorpio:scorpio-aaio_1.1.0

**Steps to reproduce**

1. Create a sample House entity with the hasRoom attribute containing multiple Relationship insta

[2021-11-15 04:21] Neeraj-Nec opened #259 "issue with GET Query (/ngsi-ld/v1/entityOperations/query)"
Hi @ScorpioBroker ,

I am sending the following request to fetch the data of "Vehicle" type by psot Query (/ngsi-ld/v1/entityOperations/query). The following example is the body part of my request
{
 	"type": "Query",
 	"entities": [
 		{
 			"type" : "Vehicle"
 		}
 	] ,
 	"attrs": ["brandName"]
 }
provided link header (context): https://uri.etsi.org/ngsi-ld/v1/ngsi-ld-core-context.jsonld
getting

[2021-11-16 05:13] amitrnec commented on #259
Hi,

It is working fine. you can check again.

Thanks.

[2021-11-16 07:19] #259 closed, assigned to amitrnec

[2021-11-16 07:44] hlange opened #260 "Issue #188 exists again"
Hello,
I had some problems with the modifiedAt parameter at was looking at the closed tickets and I found the ticket #188, when I tried this I could reproduce the error mentioned there.

![grafik](https://user-images.githubusercontent.com/12150189/141941996-a41e08ba-7f47-47be-8143-b73a6b9161c6.png)

As image I use scorpiobroker/scorpio:scorpio-aaio_latest.

[2021-11-16 10:18] amitrnec commented on #260
Hi,
As I have tested this issue after taking the code from dev branch. It is working as expected but i will check also through  scorpiobroker/scorpio:scorpio-aaio_latest image.

Thanks,
Amit.

[2021-11-22 17:33] ScorpioBroker commented on #260
Hi we couldn't recreate this bug at the moment. Could you check which containerid your build has with \"docker images\"

[2021-11-23 07:27] hlange commented on #260
Hi, that is the version that was fetched with docker compose.
![grafik](https://user-images.githubusercontent.com/12150189/142984965-76e47d7c-5fb2-449c-b3b1-485e7dc9eb8a.png)

The full output:
![grafik](https://user-images.githubusercontent.com/12150189/142985612-52045b67-825e-4a72-ba0f-b081af6d70a6.png)

[2021-11-23 07:55] hlange commented on #260
Ok. I tested with the new image, but I still didn't get the right result.

[code]

As you can see, when I update the element twice, the modifiedAt element is not changing.

![grafik](https://user-images.githubusercontent.com/12150189/142988168-3be645fc-11d3-44e1-8297-7dd05b9d6e46.png)

[2021-11-25 07:40] amitrnec commented on #260
Hi,
Fixed this issue in #266

[2021-11-26 05:00] subhommitra opened #267 "Multi-tenant implementation"
I can see in release history and github issues that multi-tenant support has been implemented in Scorpio. However, I am not seeing any explanation of this in the documentation. Can someone please explain how multi-tenancy has been implemented (for e.g., separate DBs, etc.) and what changes should we make to the API payloads to take advantage of this (e.g. I think this is related to fiware headers

[2021-11-26 07:50] amitrnec commented on #267
Hi,
As we have implemented multi tenant
We have created new database  in POSTGRESQL for each tenant so the data goes into the respective tenant DB.
for example if we provided the http header  key "NGSILD-Tenant"  and value "urn:ngsi-ld:Example:tenant1 then it would be DB urn:ngsi-ld:Example:tenant1.
We will connect to the respective database during runtime based on the tenant provided through http

[2021-11-26 08:57] subhommitra commented on #267
Hey Amit, thanks for writing back. Few follow up questions:

-  Is there any authorisation/authentication involved when reading from the different tables for tenants, for e.g. with a GET request?
-  I can see from the codebase that based on the value of the NGSILD-Tenant key, you are creating new database if it doesn't already exist; is there any other way of creating tenants?
- Can we update/mana

[2021-11-26 10:15] ScorpioBroker commented on #267
Hi,

currently we are supporting an oauth integration on the gateway level. Most OAuth solution allow to configure access based also based on headers.
We are not changing credentials on the database access with a different tenant. Generally speaking i would not expose the database to the outside but only the gateway.
NGSI-LDs tenant as the spec defines it is really only meant for data separation t

[2021-11-26 10:37] Suvarat211 commented on #250
Hi,
I tried commenting out the test cases for each microservice where there were failing tests, and found that it's not just Commons... Test cases are failing for almost all major services, i.e. EntityManager, QueryManager, SubscriptionManager, RegistryManager and HistoryManager. When commenting out test cases in any of them, the build fails at the subsequent microservice.

[2021-11-26 11:20] subhommitra commented on #267
Thank you very much for your answers. Really appreciate it.

[2021-11-26 11:20] #267 closed, assigned to amitrnec

[2021-12-13 15:49] hlange opened #276 "ObservedAt not in temporal operation"
Hello,

I would expect when requesting data from the temporal interface that I would get the observedAt attribute.

`http://192.168.0.6:9090/ngsi-ld/v1/temporal/entities/house2:smartrooms:room1/?attrs=myuniqueuri:temperature`

But this is not the case:
[code]

[2021-12-13 15:54] hlange opened #277 "options=temporalValues creating 500 error"
Hello,
when requesting values with options=temporalValues:
`http://192.168.0.6:9090/ngsi-ld/v1/temporal/entities/house2:smartrooms:room1/?attrs=myuniqueuri:temperature&options=temporalValues`

I get an error 500.
[code]

[2021-12-15 11:33] RupamNEC commented on #276
Hi @hlange
obeservedAt is not generated automatically, we have provide observedAt in the payload while creating entity.

Thanks
Rupam Kumari

[2021-12-15 11:40] RupamNEC commented on #277
Hi @hlange,
This request is not valid, timerel, timeAt is required with options.

Thanks & Regards
Rupam Kumari

[2021-12-15 12:05] hlange commented on #277
I don't think so.

https://ngsi-ld-tutorials.readthedocs.io/en/latest/short-term-history.html#simplified-temporal-representation-of-an-entity
[code]
This does not include these parameters.

[2021-12-17 05:27] yogeshbirla3986 opened #279 "Partial update api is not working properly"
I have created a room1 enitty using the below payload

curl localhost:9090/ngsi-ld/v1/entities -s -S -H 'Content-Type: application/ld+json' -d @- <<EOF
        {
  "id": "house2:smartrooms:room1",
  "type": "Room",
  "temperature": {
        "value": 23,
        "unitCode": "CEL",
        "type": "Property",
        "providedBy": {
                "type": "Relationship",
                "object":

[2021-12-17 06:57] amitrnec commented on #279
Hi,
We have checked the same process with your data through dev branch , It is working as expected.
In case of partial update, only attribute value get updated and not creating new attribute.
Kindly can you verify again.

Thanks,
Amit.

[2021-12-18 04:19] RupamNEC commented on #277
Yes, correct we will fix this issue asap.

[2021-12-20 05:46] yogesh-nextgen commented on #279
Hi,
when i am making a PATCH request using the above payload it is working now ,
Previously i was making a POST request that's why it was not working as expected .
Thank you very much for you quick response .

[2021-12-20 05:53] yogeshbirla3986 commented on #279
Hi,
When i was using that curl request it was not working because that curl makes a POST on that port,
but when  i tried with postman and make it as a PATCH request it is working now.

Thank you very much for you quick response .

[2021-12-20 05:53] #279 closed, assigned to amitrnec

[2021-12-20 07:34] amitrnec commented on #277
Hi,
We have fixed this issue #280

Thanks,
Amit.

[2021-12-20 07:35] #276 closed, assigned to RupamNEC

[2021-12-20 07:35] #260 closed, assigned to amitrnec

[2021-12-21 15:35] amitrnec commented on #258
Fixed this issue and code merged in dev branch.

Thanks,
Amit.

[2021-12-21 15:35] #258 closed, assigned to pawannec

[2021-12-21 15:36] amitrnec commented on #257
Fixed this issue and code merged in dev branch.

Thanks,
Amit.

[2021-12-21 15:36] #257 closed, assigned to pawannec

[2021-12-21 15:37] #252 closed, assigned to nobody

[2022-01-28 10:56] brechtvdv opened #282 "Retrieve temporal representation of entity with URI"
I want to retrieve the temporal representation of one entity with the /temporal/entities/{entityId} endpoint.
[code]

This endpoint works with entities that have a URN as identifier (urn:test): http://localhost:9090/ngsi-ld/v1/temporal/entities/urn:test

But not for the example object:
[code]

[2022-02-02 12:59] amitrnec commented on #282
Hi,

This issue has been fixed now.

Thank you.
Amit.

[2022-02-04 10:43] #277 closed, assigned to RupamNEC

[2022-02-04 10:47] amitrnec commented on #244
Hi,
This issue have fixed now.

Thanks.
Amit.

[2022-02-04 10:47] #244 closed, assigned to ScorpioBroker

[2022-02-04 10:48] amitrnec commented on #168
Implemented.

[2022-02-04 10:48] #168 closed

[2022-02-04 10:49] amitrnec commented on #137
Implemented.

[2022-02-04 10:49] #137 closed

[2022-02-04 15:20] pierre-josselin opened #284 "Problem with temporal query"
I deployed the latest version of Scorpio AAIO with Docker and Docker Compose through [this script](https://github.com/ScorpioBroker/ScorpioBroker/blob/development/docker-compose-aaio.yml), on a Debian 10 virtual machine.

When I send this request (which worked fine on an older version of Scorpio) :

GET /ngsi-ld/v1/temporal/entities/urn:...?attrs=discussion&timerel=between&time=2022-01-03T23:00:00

[2022-02-04 15:30] ScorpioBroker commented on #284
Hi,
this is one of the updates in the NGSI-LD spec. The new names are timeAt and endTimeAt.

[2022-02-04 15:32] pierre-josselin commented on #284
Thanks for the quick response!

[2022-02-04 15:32] #284 closed, assigned to nobody

[2022-02-07 09:21] prahvin opened #285 "Integrating to external authentication provider"
Adding authentication support while invoking REST API endpoints

[2022-02-07 09:30] ScorpioBroker commented on #285
Hi,
could you please elaborate a bit what exactly the issue is?
With security enabled, Scorpio supports OAuth2. You can have a look at the application.yml
https://github.com/ScorpioBroker/ScorpioBroker/blob/development/AllInOneRunner/src/main/resources/application.yml
from line 58 you can find the respective settings.

[2022-02-14 09:47] #230 closed, assigned to pawannec

[2022-02-15 05:50] #282 closed, assigned to amitrnec

[2022-02-15 05:51] #255 closed, assigned to pawannec

[2022-02-15 05:51] #227 closed, assigned to nobody

[2022-02-22 12:13] prahvin commented on #285
Hi,
After integrating with keycloak instance, setup the keycloak as below.
  security:
    active: true
    oauth2:
     resourceserver:
       jwt:
         issuer-uri: http://localhost:8080/auth/realms/myrealm
     client:
       provider:
         keycloak:
           issuer-uri: http://localhost:8080/auth/realms/myrealm
       registration:
         keycloak-client:
           provider: keyclo

[2022-02-23 10:27] prahvin commented on #285
SOLVED: Set profile in application.yml to "docker-rest"
![docker-rest](https://user-images.githubusercontent.com/25497881/155300545-50b939e0-7220-4f40-8bc6-2ab19bfbd65b.jpg)

modify "WebSecurityConfiguration.java"'s configure() method
![configure](https://user-images.githubusercontent.com/25497881/155300908-d3c7e226-7991-4740-ab32-b19cd9e05e05.jpg)

Note: setting the profile to "docker" causes kaf

[2022-02-23 10:27] #285 closed, assigned to nobody

[2022-02-24 06:45] #157 closed

[2022-02-24 06:47] #223 closed, assigned to nobody

[2022-02-24 06:53] amitrnec commented on #250
Hi,
Unit testing issue fix is in progress now.

Thanks.

[2022-03-02 10:05] pierre-josselin opened #294 "Possible bug with registrations"
Hello,

I have a problem with scorpio that may be a bug because I didn't had this problem with an older version.

On an instance of Orion-LD, I created this entity:

`POST http://orion-ld:1026/ngsi-ld/v1/entities`

[code]

On an instance of Scorpio latest version, I created this registration:

`POST http://scorpio:9090/ngsi-ld/v1/csourceRegistrations`

[code]

But when I try to get my entity back,

[2022-03-03 15:23] #206 closed, assigned to nobody

[2022-03-09 09:30] ScorpioBroker commented on #294
Hi,

GET http://scorpio:9090/ngsi-ld/v1/entities/urn:ngsi-ld:Test:abcd gives you only the local resource. The empty result is correct in this case.

However the query you are doing should be working exactly like you did it. I can't recreate the problem on my side.
Using orion ld latest and scorpio aaio latest on docker-compose i recreated your scenario and it works as it should. My only change was

[2022-03-10 12:17] pierre-josselin commented on #294
Hi @ScorpioBroker, thank you for your answer. I'm going to deepen my tests to understand where the problem comes from (a bit later because I'm working on another project at the moment).

[2022-03-10 12:17] #294 closed, assigned to nobody

[2022-03-29 11:36] amitrnec commented on #250
Hi,
We have fixed this issue so will merge in dev branch.
Thanks,
Amit Raghav.

[2022-03-30 11:40] #250 closed, assigned to amitrnec

[2022-05-20 06:46] jason-fox opened #305 "Scorpio loops on Startup if core context is not found."
Not really an "issue" as such - more of a question about what should occur in this circumstance. When testing Scorpio this morning for some reason https://uri.etsi.org was temporarily unavailable. Since it appears that the core context is downloaded as part of startup, and startup won't continue the effect is to cause Scorpio to hang indefinitely.

Given the lack of the core context would be a fat

[2022-05-20 14:26] ScorpioBroker commented on #305
Hi,

yeah i think you are right. We have kind of assumed that the core context is there on startup and once we have it it's fine.
We should consider the time outs as you suggested and maybe just pack it in as backup for "offline" mode.

[2022-05-24 09:46] mdespland opened #306 "Temporale Entity behavior between FIWARE 8.1.0 and 2.1.14"
I have a test to check the creation of temporal entities with broker and the behavior change, is it a bug or a feature ? :)
My test is simple
1 - Creating an entity
2 - Retrieving the entity
3 - Retrieving the temporal representation of the entity
4 - Adding a temporal representation of the entity
5 - Retrieving the entity
6 - Retrieving the temporal representation of the entity

The code of the t

[2022-05-24 11:03] amitrnec commented on #306
Hi,
We will check this functionality.
Can you please share other version that you are using ?.

Thanks.

[2022-05-24 11:20] mdespland commented on #306
Hi,
I just restart testing to decide which version to use for one of our project
With Orion-LD 1.0.1 + Mintaka 0.5.9 test works like Scorpio FIWARE 8.1.0 (except the HTTP status of test 4)

Thanks

[2022-05-29 10:32] ScorpioBroker commented on #306
Hi,
i'll check the functionality this week.

[2022-06-01 05:04] amitrnec commented on #306
Hi,
We have checked this functionality with below docker images.
image: scorpiobroker/scorpio:scorpio-aaio_FIWARE_8.1.0
#image: scorpiobroker/scorpio:scorpio-aaio-no-eureka_2.1.13
This functionality is working properly.

Please let us know if you have any concern with this version.

Thanks
Amit

[2022-06-01 07:30] mdespland commented on #306
On my side, when I test with image: scorpiobroker/scorpio:scorpio-aaio-no-eureka_2.1.13

The result is

[code]

So The POST /temporal/entities failed with a HTTP 409

When I test with scorpiobroker/scorpio:scorpio-aaio_FIWARE_8.1.0

[code]

The POST /temporal/entities works, but the GET /temporal/entities done before failed with a 404

[2022-06-01 08:22] amitrnec commented on #306
Hi,
We have tested with image: scorpiobroker/scorpio:scorpio-aaio-no-eureka_2.1.13

1. create entity (http://172.30.48.25:9090/ngsi-ld/v1/entities)
2. Get Entity(http://172.30.48.25:9090/ngsi-ld/v1/entities/urn:entities:sensor:VKXvPc9tnWR80rMn)
3.  Get Temporal entity (http://172.30.48.25:9090/ngsi-ld/v1/temporal/entities/urn:entities:sensor:VKXvPc9tnWR80rMn)
4.  Add temporal element in existing e

[2022-06-01 08:38] mdespland commented on #306
Hello
No for the 4 I use a POST on /temporal/entities not /temporal/entities/<id>/attrs
I will check with /attrs

[2022-06-01 08:41] amitrnec commented on #306
Hi,
We have tested with scorpiobroker/scorpio:scorpio-aaio_FIWARE_8.1.0 image.
It is also working properly.
Thank you.

Thanks,
Amit.

[2022-06-01 09:02] mdespland commented on #306
With the POST on /temporal/entities not /temporal/entities//attrs it works better (and well with scorpio:scorpio-aaio-no-eureka_2.1.13) but with scorpio:scorpio-aaio_FIWARE_8.1.0 the value added in the create entity is not return with the GET temporal

[2022-06-01 09:31] amitrnec commented on #306
Hi,
As your comment are you following same step.
1. Create entity
2. Retrieve entity
3. Retrieve Temporal entity
4.  Add attributes in existing entity (http://172.30.48.25:9090/ngsi-ld/v1/entities/urn:entities:sensor:VKXvPc9tnWR80rMn/attrs)
5.  Add attributes in existing temporal  entity (http://172.30.48.25:9090/ngsi-ld/v1/temporal/entities/urn:entities:sensor:VKXvPc9tnWR80rMn/attrs)
6. Repeat st

[2022-06-01 10:03] mdespland commented on #306
With scorpio-aaio_FIWARE_8.1.0

After the creation of entity , the GET /entities and GET /temporal/entities work

[code]

But after adding attributes to the existing temporal entity POST /temporal/entities/<id>/attrs

[code]

The first value disappear from the list :
[code]

with scorpiobroker/scorpio:scorpio-aaio-no-eureka_2.1.13 it is ok

[2022-06-01 10:26] amitrnec commented on #306
Hi,
We will check accordingly.
Thanks.

[2022-06-01 10:45] ScorpioBroker commented on #306
Hi @mdespland,

the situation with the FIWARE release from our point is basically that's a 11 month old release. We would highly recommend using latest or 2.1.14 in general. The FIWARE releases are not that regular and tbh. out of our control.

Best Regards

[2022-06-01 13:46] mdespland commented on #306
Hi,

Yes agree to use the latest version :)
But for this I need to have on my side the test suite to check the feature I use still working as expected
And to be sure what is the expected behavior

I will also see how to contribute to the test suite of the ETSI CIM

[2022-06-02 07:36] acanovasodins opened #308 "Problem connecting ScorpioBroker with FIWARE IoT Agent for a JSON-based Protocol"
Hi,

I'm trying to connect ScorpioBroker with [FIWARE IoT Agent for a JSON-based Protocol](https://github.com/telefonicaid/iotagent-json) using MQTT transport. In the device provisioning the NGSI-LD entity is created successfully and the MQTT publications correctly update entity in Scorpio Broker. But when I execute PATCH on the command attribute, Scorpio Broker returns an error that the attribute

[2022-06-02 07:53] idomingu opened #309 "Subscriptions with watchedAttributes do not return complete entity"
Hi everyone,

I have noticed that subscriptions configured with `watchedAttributes` are sending notifications that do not contain the complete entity, just the watched attribute. As per ETSI CIM 009, if subscription does not configure `notification.attributes`, then all entity attributes shall be included.

**Environment**
- scorpiobroker/scorpio:gateway_aaio_2.1.13
- scorpiobroker/scorpio:eureka_

[2022-06-02 12:58] ScorpioBroker commented on #309
Hi,
thanks, definitely a bug on our side. Will check

[2022-06-06 05:56] pawannec commented on #308
Hi,
Can you please share the setup details and Scorpio version ? did you use docker or a development setup? in case please share the docker version or development branch correspondingly.
Thanks

[2022-06-06 06:28] acanovasodins commented on #308
Hi

I used docker setup

https://github.com/ScorpioBroker/ScorpioBroker/blob/development/docker-compose-aaio.yml

Thanks

[2022-06-08 07:12] mohitNEC commented on #308
Hi,

There is an NGSI-LD version issue while integrating Scorpio Broker with IoT Agent. Currently, Scorpio Broker is using NGSI-LD v1.3.1
NGSI-LD does not supports the type: "command" , as the issue regarding this has already been raised

https://github.com/telefonicaid/iotagent-ul/issues/538

IoT Agent Integration is not part of Development branch so after IoT Agent updated then we will merge it

[2022-06-08 07:13] amitrnec commented on #309
Hi,
Currently working on this issue.

Thanks.

[2022-06-09 09:25] kiskit opened #310 "ProblemDetails Error structure typo"
Hi,

According to the specification, the ProblemDetails structure should contain a field named "detail". On at least a few responses (e.g. bad request), Scorpio returns a field named "details", breaking compatibility.
The specification mentions that field in table 6.4.3.1-1 (at least for versions 1.3.1 and 1.5.1).

[2022-06-09 09:54] amitrnec commented on #310
Hi,
We have fixed  this issue in #311

Thanks,
Amit.

[2022-06-09 13:34] kiskit opened #312 "Broker returns text/plain type when Accept is */*"
Hello,

When sending a request ending in error, with an `Accept` header set to `*/*`, the response is sent with `Content-Type` set to `text/plain`. Shouldn't it be `application/json`?

Example:
[code]
Provides:
[code]
With Content-Type set to
`text/plain;charset=UTF-8`

[2022-06-09 13:52] martin-p-bauer commented on #312
You are right - the mime type shall be application/json according to the specification:

### 5.5.3	Error response payload body
When reporting errors back to clients, NGSI-LD implementations shall generate a JSON object in accordance with IETF RFC 7807 [10], section 3.1, including, at least the following terms:

- 	type: Error type as per clause 5.5.2.
- 	title: Error title which shall be a short s

[2022-06-10 03:10] amitrnec commented on #312
Hi,
Currently working on this issue.

Thanks.

[2022-06-10 08:38] amitrnec commented on #312
Hi,
We have fixed this issue #313

Thanks.

[2022-06-15 11:07] amitrnec commented on #312
Hi,
Now we have merged in Dev branch.

Thanks.

[2022-06-15 11:07] amitrnec commented on #310
Hi,
Now we have merged in Dev branch.

Thanks.

[2022-06-16 11:09] #312 closed, assigned to amitrnec

[2022-06-16 11:10] #310 closed, assigned to amitrnec

[2022-06-16 11:10] #306 closed, assigned to pawannec

[2022-06-17 08:41] amitrnec commented on #309
Hi,
We have fixed this issue #314

Thanks.

[2022-06-27 15:05] PascalDesmet opened #316 "No 'next' link in headers when querying using limit and offset"
Hi there,

I've created a local Scorpio Broker using the latest compose file. [docker-compose.txt](https://github.com/ScorpioBroker/ScorpioBroker/files/8993116/docker-compose.txt)
I've added some content and that is working fine.
[Content.zip](https://github.com/ScorpioBroker/ScorpioBroker/files/8993122/Content.zip)

When I try to retrieve entities in a paged manner as described in GS CIM 009 usin

[2022-06-30 12:55] kiskit opened #318 "Create or Update temporal entity may return 409"
Hello guys,

So when using POST /temporal/entities with a body that contains an id that already exists, I get a conflict (409). The spec seems to say it's not allowed (6.18.3.1) and that it should update fields of the temporal entity instead (chapter 5.6.11 says update if it exists too).
Please advise.

[2022-07-01 08:05] amitrnec commented on #318
Hi,
Yes correct that's a bug. We will fix it.

Thanks,
Amit.

[2022-07-01 08:06] kiskit commented on #318
Thanks for your reactivity

[2022-07-04 08:06] ScorpioBroker commented on #309
Hi, dockerhub version 2.1.15 has the bugfix for this.

[2022-07-04 08:06] #309 closed, assigned to pawannec

[2022-07-04 08:07] ScorpioBroker commented on #316
Hi,
yes this was a bug. We fixed it now. Thanks for the report. dockerhub version 2.1.15 has the bugfix for this.

[2022-07-04 08:07] #316 closed, assigned to nobody

[2022-07-04 08:08] ScorpioBroker commented on #318
Hi, dockerhub version 2.1.15 has the bugfix for this.

[2022-07-04 08:08] #318 closed, assigned to nobody

[2022-07-04 09:10] kiskit opened #319 "Temporal entity attribute delete never returns 404"
Hello fellow Scorpio people,
Tried this:
[code]
with existing te1.
It may work once if the attribute exists but the second time it should return 404. It returns 204 instead.

[2022-07-04 09:13] ScorpioBroker commented on #319
Hi, yes we are currently working on this already
https://github.com/ScorpioBroker/ScorpioBroker/pull/315
should be out with the next release.

[2022-07-04 09:16] kiskit commented on #319
Sorry didn't find the issue when I first looked

[2022-07-04 09:18] ScorpioBroker commented on #319
No worries... better one report too much as one to less. Was just pointing out that this should be fixed soonish.

[2022-07-04 09:21] kiskit commented on #319
Cool, thanks. It's unclear to me if #315 applies also to temporal entities attribute instances but I think it behaves the same.

[2022-07-05 03:08] amitrnec commented on #319
Hi,
Now fixed this issue and merged in dev branch.
Thanks.

[2022-07-05 03:09] #319 closed, assigned to nobody

[2022-07-19 05:55] ccndukwe opened #324 "The scorpiobroker/scorpio:scorpio-aaio-no-eureka_2.1.13 fails if Notification subscription has filter"
Below is the notification payload

{
    "description": "Notify QuantumLeap on changes on water quality data",
    "id": "urn:subscription:10",
    "type": "Subscription",
    "entities": [
        {
            "type": "Device"
        }
    ],
    "q":"type==Device",
    "notification": {
        "format": "keyValues",
        "endpoint": {
            "uri": "https://eojuakb8u1r6aug.m.pipedream

[2022-07-19 18:02] Blobonat commented on #154
@ScorpioBroker Is there any config-reference how to deploy Scorpio with custom Postgres and Kafka?

[2022-07-20 10:02] ScorpioBroker commented on #324
Hi could you please provide a payload example for your entity which should trigger.
Which Scorpio version are you running?
I can't recreate your exception at the moment.
It's a bug for sure but aside from that your subscription is a bit weird.
The entities part is already filtering for type Device only.
So the type==Device is not needed. But it's stopping your subscription from working as you woul

[2022-07-20 11:16] ccndukwe commented on #324
The problem is the version and not the payload,  I tried all kinds of query and they all failed. The version is shown in the title which is scorpio:scorpio-aaio-no-eureka_2.1.13. However, I decided to use another version and it worked.

[2022-07-20 11:20] ScorpioBroker commented on #324
Ok than this was most likely fixed in between. Latest is currently 2.1.20 or you can always use latest

BR

[2022-07-20 11:20] #324 closed, assigned to ScorpioBroker

[2022-07-24 12:44] Blobonat commented on #154
I was trying to use the AIO-Deployment with an external Kafka (MKS in my case). Setting the environment variable `BOOTSTRAP_SERVERS` for the container was all I had to do in my case. This will override the internal `bootstrap.servers` entry.

[2022-08-01 14:34] Blobonat opened #325 "Possible JSON-LD compaction/expansion bug when using user defined time properties"
Following the official example of the NGSI-LD API v.1.3.1 spec in section C.6 (Date Representation) I tried to create and read back an entity with a user-defined time property.

My entity with the custom time property `constructionDate` during creation looks like this:
[code]
During creation I provide the following custom `@context` via the Link-Header (<MY_URL>; rel="http://www.w3.org/ns/json-ld#

[2022-08-02 19:07] ScorpioBroker commented on #325
Hi,
i tested this on the ld-playground (json-ld ref impl) https://tinyurl.com/29leet34 and it gives exactly the same behaviour. I can see the the inconsistency but i think scorpio is doing what it should. Having no at in there so just
`"https://example.com/constructionDate": {
            "type": "Property",
            "value": {
                "type": "Date",
                "value": "2020-09-1

[2022-08-02 19:31] Blobonat commented on #325
Hi, thanks for the feedback. Haven't thought of testing it with the JSON-LD Playground :) Still a bit weird that `https://example.com/constructionDate` won't get replaced by `constructionDate` in JSON-LD...

[2022-08-02 19:42] ScorpioBroker commented on #325
Hi,

oh yes that as well :-) ... i was actually looking at @type and @value coming back differently and didn't even see this first ...
anyways ... you are not getting back constructionDate because your @context defines https://example.com/constructionDate as type Date but it is type Property so the compacting doesn't find it like this. If you define only "constructionDate": "https://example.com/co

[2022-08-02 19:52] Blobonat commented on #325
I followed the example of the NGSI-LD Spec v1.3.1 (Page 193):

[code]

with `@context`:
[code]

I am quite new to NGSI-LD so I don't know whether this format is actually agreed on.

[2022-08-02 20:11] Blobonat commented on #308
A very good explanation of the underlying specification problem is given in [telefonicaid/iotagent-ul/issues/573](https://github.com/telefonicaid/iotagent-ul/issues/573#issuecomment-1203142396).

[2022-08-02 20:24] ScorpioBroker commented on #325
Oh that should be addressed if it's in the appendix of the spec.
So basically there is currently one user settable datetime for entities/attributes provided by the spec which is observedAt. That you can just set with
`"observedAt": "2018-12-04T12:00:00Z"`
This is what i would just use for most cases tbh.  If you need an entry like the testedAt you can not do it like C6 suggests since compacting wi

[2022-08-03 07:28] martin-p-bauer commented on #325
Yes, sorry, this is a bug in the specification. The proposed @context cannot work with NGSI-LD in normalized representation as it tries to coerce the JSON value of testedAt to be of type DateTime, but actually it is of type Property (due to reification), so it will not compact properly. If you were to use the same @context with simplified representation, the JSON value would be a DateTime and thus

[2022-08-04 19:50] Blobonat commented on #325
Thanks for the clarification. Should the normalized NGSI-LD form for DateTime-attributes as mentioned in the API specification still be used?

[code]

Or should the DateTime-string be directly assigned to `value`?
[code]

I would probably choose a `@context` like `"testedAt": "http://example.org/testedAt"` in both cases.

[2022-08-05 10:13] papr8ka opened #326 "GET /ngsi-ld/v1/entities mandatory parameters"
# GET /ngsi-ld/v1/entities mandatory parameters

Hi,

The endpoint GET /ngsi-ld/v1/entities does not match the [ngsi ld specification](https://www.etsi.org/deliver/etsi_gs/CIM/001_099/009/01.05.01_60/gs_cim009v010501p.pdf) at [6.4.3.2](https://www.etsi.org/deliver/etsi_gs/CIM/001_099/009/01.05.01_60/gs_cim009v010501p.pdf#%5B%7B%22num%22%3A540%2C%22gen%22%3A0%7D%2C%7B%22name%22%3A%22FitH%22%7D%2C45

[2022-08-07 15:00] ScorpioBroker commented on #326
Hi,
yes this is correct. This is a change since 1.3.1 that a q or geoQ query is enough to implicit declare attrs. We haven't implemented this yet.

[2022-08-08 07:31] papr8ka commented on #326
Hi,

Do you have an idea of the time frame for this implementation? I saw in the project's [README.md](https://github.com/ScorpioBroker/ScorpioBroker#further-resources) that the version mentioned for ETSI specification is 1.2.2. Is it something that will evolve or is it the final target?
In the meantime, do you have an idea for a workaround ? I don't know the full list of attributes of the entitie

[2022-08-08 15:31] ScorpioBroker commented on #326
Hi,

tbh. that is an oversight on our side. We are basically on 1.3.1 at the moment with this excluded and some 1.4.1/1.5.1 things added. We are continuously trying to add the updates of the spec. Seeing that this should be already in, we definatly put it on the front of the road map. So within the next 6 weeks or so (it's vacation season ... ) this should work, maybe earlier but no guaranties.

A

[2022-08-18 19:37] #325 closed, assigned to nobody

[2022-08-18 20:01] Blobonat opened #327 "Add DateTime support including milliseconds for notifiedAt"
As far as I have seen Scorpio uses the `YYYY-MM-DDThh:mm:ssZ`-format for `notifiedAt` inside a notification. It would be nice to also support a `DateTime`-string including milliseconds for `notifiedAt` to have a more precise timestamp.

[2022-08-22 12:55] amitrnec commented on #327
Hi,
Now fixed this issue #328

Thanks.

[2022-08-30 13:54] kiskit opened #329 "Upsert operation doesn't return the expected status and/or body"
## Problem statement
A successful upsert operation on both existing and non existing entities does not return the correct body and/or status.
## Modus Operandi
First create an entity such as this one:
[code]
Then use the upsert operation (/entityOperations/upsert) to modify the entity previously created and insert another one:
[code]
## Expectations
In version "latest" or 2.1.22 (as pulled from th

[2022-08-30 14:07] kiskit opened #330 "No body returned by /entityOperations/create on success"
## Problem statement
When using /entityOperations/create and obtaining a 201 status, the body is empty.
## Modus Operandi
[code]
## Expectations
The status returned is **201** and the body is **empty**. According to the specification, it should contain **the list of identifiers of the entities successfully created**.

[2022-08-30 16:40] Blobonat opened #331 "QoS for notifications in a replicated deployment"
I'm trying to scale Scorpio horizontally using Kubernetes with the `scorpiobroker/scorpio:scorpio-aaio-no-eureka_2.1.20` image.
In my test setup I create 1 subscription and monitor the notifications. With 1 replica everything works as expected. When using multiple replicas running against the same Kafka and Postgres, I noticed that more notifcations are sent than expected. Is there any "QoS" for e

[2022-08-30 18:51] #327 closed, assigned to mohitNEC

[2022-08-31 10:52] amitrnec commented on #330
Hi,
Now fixed this issue #332

Thanks.

[2022-08-31 10:52] amitrnec commented on #329
Hi,
Now fixed this issue #332

Thanks.

[2022-08-31 11:15] kiskit commented on #329
Great thanks

[2022-08-31 13:47] papr8ka commented on #326
Hi,

No, I have no idea of the entity type I'm requesting. My use case is very specific, and can only be done through q parameter.

In this case I'll wait for the feature, thanks!

[2022-09-11 07:03] SURAJKALLOLI opened #333 "Eureka Server is not working with scorpiobroker"
Hi,
Java 17
springboot version 2.7.0

After running the docker-compose-aaio-gateway.yml file, Eureka server is not running on localhot:8761 and  I am not able to view the Eureka server dashboard but in logs it showing that client is registering with eureka and zuul also not taking the servises only scorpiobroker and gateway is working on port 9090.

[2022-09-11 14:42] ScorpioBroker commented on #333
Hi,

docker-compose-aaio.yml is not starting/working with eureka. It's starting the version which doesn't implement the eureka client. Please have a look at the https://github.com/ScorpioBroker/ScorpioBroker/blob/development/docker-compose-aaio-gateway.yml. You would still need to edit the port "8761" to "8761:8761" to get it reachable.

[2022-09-12 08:46] SURAJKALLOLI commented on #333
Yes, docker-compose-aaio-gateway.yml this file only i am talking about.
And eureka server taking direction to http://localhost:59722/ not on port 8761:8761  and how to zuul interact with this , i want to know.

[2022-09-12 09:01] ScorpioBroker commented on #333
Hi,

I'm not quite sure what you mean by "eureka server taking direction to http://localhost:59722/" 8761 is the default port and we are not changing it in our eureka.
Just FYI. the gateway we are providing is not Zuul based anymore but the newer Spring Gateway.
If you are looking for a config for Zuul you can check out this older commits
https://github.com/ScorpioBroker/ScorpioBroker/blob/1d1ab95

[2022-09-16 12:19] #333 closed, assigned to nobody

[2022-09-23 08:21] yshashix opened #335 "Build fail for quarkus-release/3.0.0 Branch due to missing dependency"
- I was trying to build quarkus-release/3.0.0 branch with command : <mvn clean package -DskipTests>, but it fails due to missing BouncyCastle dependency as attached image.

I solved it by adding dependency on Common-> pom.xml as below:
         ""    <dependency>
                        <groupId>com.guicedee.services</groupId>
                        <artifactId>bouncycastle</artifactId>

[2022-09-23 09:36] ScorpioBroker commented on #335
Hi,

don't worry about the warning there. This is because in our Commons we are sharing some resteasy related code between modules, the resteasy dependencies are loaded in from the other modules which actually use the shared code.

The error you are getting is caused by the kubernetes plugin which we wanted to use to generate helm charts. We only later realized that it does attempt much more and s

[2022-09-26 09:41] yshashix commented on #335
Thanks for your feedback. It's helpful

[2022-09-26 09:41] #335 closed, assigned to nobody

[2022-09-28 05:01] #330 closed, assigned to amitrnec

[2022-09-28 05:01] #329 closed, assigned to amitrnec

[2022-09-28 11:36] yshashix opened #336 "Question: Is Scorpio integration with QuantumLeap or timeseries DB like Timescaledb/CreateDB in roadmap?"
Hi team,
I am looking forward to knowing if you have any plans for integration with timeseries database.
I see the Fiware application QuantumLeap subscription trying to do it but currently, but it does not support NGSI-LD fully
#227 or do you guys expect QuantumLeap to do it?

[2022-09-30 16:16] martin-p-bauer commented on #336
Hi @yshashix,
NGSI-LD itself supports a temporal API and Scorpio implements the core version of it, i.e. you can request temporal information from a specified time interval. Scorpio does not yet implement the aggregation functionality defined in NGSI-LD v1.4, which is on our medium-term roadmap - after implementing this, the functionality will be quite similar to what Quantum Leap provides. To our

[2022-10-06 08:47] yshashix commented on #336
@martin-p-bauer ,
Thank you for the clarification.
Glad to know that Scorpio itself implements temporal API, but does it save time-series data in timescaleDB or saves date postgress only with timestamp? I thought by default broker would keep the latest state of the entity, if so then where are time-series data persisted? (Regarding quantum leap, I will ask them, thnx)

[2022-10-06 09:56] ScorpioBroker commented on #336
Hi so what happens in Scorpio
everything is in postgres there are a bunch of different databases for "live" entities and for the temporal interface/entities.
To be precise for history we save the attribute instances separately with the timestamps (observedAt, createdAt, modifiedAt) as indexed fields.
You can use the temporal interface separately to create temporal entities directly. /ngsi-ld/v1/te

[2022-10-07 10:24] ScorpioBroker commented on #331
Hi,
we fixed this in a later version. There is now a sync between subscription managers and who takes care of what.
But we also have changed our dockerhub structure a bit could you please try with

scorpiobroker/all-in-one-runner:spring-kafka-3.0.3

Thanks & Regards

[2022-10-07 10:29] Blobonat commented on #331
Thanks, I'll test it and provide feedback

[2022-10-09 20:25] Blobonat opened #337 "Subscription/Notification problems when using the entityOperations endpoint"
Hi,

I was playing around with the subscription options and noticed several bugs (?) within Scorpios notification behavior when using the `entityOperations` endpoint to create/update entities:
- Subscription with `attributes` does not include these attributes in the notification, when entity was created using the `entityOperations/create` endpoint
- Subscription without `attributes` does not inclu

[2022-10-09 20:32] Blobonat opened #338 "Subscription/Notification with time interval does not work"
When using the `timeInterval` option in a subscription in order to get periodic notifications Scorpio throws an internal error

I use the same test setup as in #337 (scorpiobroker/all-in-one-runner:spring-kafka-latest )

Steps to reproduce:

1. I create the following entity
[code]
2. In order to get a notification every 5 seconds I create the following subscription:
[code]
- Expected behavior: A n

[2022-10-10 08:46] Blobonat opened #339 "No temporal evolution when updating entity attributes"
Hi,

when updating an attribute via the `entities/<ID>/attrs/<attId>` endpoint including an `obversedAt` value the temporal represenation of the entity is not updated.

Tested version: scorpiobroker/all-in-one-runner:spring-kafka-latest

Steps to reproduce:
- Create entity with temporal property
[code]
- Update temporal property via `entities/<ID>/attrs/<attId>` endpoint
[code]
- Make temporal que

[2022-10-11 08:33] amitrnec commented on #339
Hi,
Thank you for the information.
I tried to reproduce this issue but it is working fine as expected result.
Tested version: development-quarkus
We will try to test with "scorpiobroker/all-in-one-runner:spring-kafka-latest" version also.

Thanks,
Amit.

[2022-10-12 06:20] Blobonat opened #340 "Error when notification via MQTT"
Hi,

when creating a subscription with a MQTT endpoint, Scorpio throws an internal error during notification.

Tested with `scorpiobroker/all-in-one-runner:spring-kafka-latest`

Steps to reproduce:
1. Create Entity
[code]
2. Create subscription with MQTT endpoint
[code]
3. Trigger Notification via attribute update
[code]
- Expected behavior: Notification via MQTT
- Actual behavior: No notification

[2022-10-12 09:03] Anupamskd7 opened #341 "Error deploying Dist-deployment Scorpio-broker v2.1.13"
Description:
When deploying the dist-deployment files (https://github.com/ScorpioBroker/ScorpioBroker/tree/2.1.13/KubernetesFile/dist-deployment-files) on Kubernetes cluster, the "_Atcontextserver_" miscroservice goes into error state with the following error in the pod event:

- Liveness probe failed: sh: 1: curl: not found
- Back-off restarting failed container
- Readiness probe failed: sh: 1: c

[2022-10-13 09:37] amitrnec commented on #339
Hi,
Now we have fixed this issue #342

Thanks

[2022-10-13 09:39] Blobonat commented on #339
Thank you!

[2022-10-13 09:39] #339 closed, assigned to nobody

[2022-10-13 09:54] kzangeli commented on #337
A bit of order in the different curl commands would be helpful, and as two bugs are reported, perhaps split the info in two parts.
In order to try to reproduce the error (in Orion-LD - I have an issue there referring to this issue) I'd like a clean list of the curl commands, like:
1. Create a subscription
2. Create an entity
3. Update the entity
...

Right now the order is a bit of a mess and I'm

[2022-10-14 07:42] kzangeli commented on #337
FYI: I implemented a functional test for Orion-LD to try to reproduce the problem (as the same issue was created in Orion-LD's github), but found no problem: https://github.com/FIWARE/context.Orion-LD/issues/1244.

I believe it's a false alarm and the confusion comes from "BATCH Upsert **overwriting** the entity" - the old attributes disappear ...

BUT, I'm awaiting more input.

[2022-10-14 08:11] Blobonat commented on #337
As @kzangeli pointed out, I wrongly used the `/upsert` endpoint. I tested my application scenario again and now it works as expected. Sorry for the false alarm.

[2022-10-14 08:11] #337 closed, assigned to nobody

[2022-10-17 13:39] ScorpioBroker commented on #338
Hi,

is fixed in 3.0.5 now. spring is already up on dockerhub, the other version will be up sometime today.

BR

[2022-10-17 13:41] Blobonat commented on #338
Thanks a lot!

[2022-10-18 13:51] #338 closed, assigned to ScorpioBroker

[2022-10-19 15:37] Blobonat opened #345 "Simplified Temporal Representation of an Entity not following the NGSI-LD specification"
Hi,

when requesting a simplified temporal representation of an entity using the `options=temporalValues` the NGSI-LD spefication states (v1.6.1 section 4.5.9):

Currently Scorpio (`scorpiobroker/all-in-one-runner:spring-kafka-latest`) returns a Simplified Temporal Representation of an Entity with the attribute `airTemperature` like this:
[code]

Following the spec I expect the entity representati

[2022-10-20 04:13] mohitNEC commented on #341
Hi Anupam,

We have fixed this issue #346

Thanks

[2022-10-20 10:26] amitrnec commented on #340
Hi,
Now we have fixed this issue #347

Thanks

[2022-10-21 16:11] yshashix commented on #336
Thanks for your insight. It was helpful to understand.

[2022-10-21 16:11] #336 closed, assigned to nobody

[2022-10-25 09:17] yshashix opened #348 "Question: How to enable ssl for postgres connection"
Is their SSL connection to Postgres DB, if not how do you enable it? I would like to know for the quarkus java release.

[2022-10-25 09:24] ScorpioBroker commented on #348
Hi,
we haven't been using SSL on the DB until now. There is SSL support for the database connectors but to be honest never used it. I'll investigate a bit how to use it.

[2022-10-25 14:49] yshashix commented on #348
I guess by default scorpio is using reactive postgressql and  I need to set this parameters [quarkus.datasource.reactive.postgresql.ssl-mode = require]. I guess pgpool option for SSL handling at source code is not enabled. Is it right?

[2022-10-27 04:45] amitrnec commented on #345
Hi,
Now we have fixed this issue #349

Thanks

[2022-10-27 08:58] ScorpioBroker opened #350 "Quarkus-Branch: Issue with notifications of data containing Long values"
There is an existing issue with notifications in the quarkus branch where Long values get turned into String values. It is an issue with the serialization on the message bus. Investigation is running.

[2022-10-27 09:02] ScorpioBroker opened #351 "Quarkus-branch: Compatibility issue with tenant data"
When migrating from the Spring branch to the Quarkus branch there is an issue with receiving existing tenant data. Investigation needed.

[2022-10-28 09:41] ScorpioBroker commented on #340
merged will be in next release

[2022-10-28 09:41] #340 closed, assigned to amitrnec

[2022-10-28 09:42] #331 closed, assigned to mohitNEC

[2022-10-28 10:54] MericFeyz commented on #348
Hi @ScorpioBroker, I have been trying to come up with a solution for this since my Postgres configuration rejects non ssl connections but I am unsuccessful so far. I have tried configuring the PgConnectOptions in the ClientManager class of the "eu.neclab.ngsildbroker.commons.storage" package by appending ```setSsl(true).setTrustAll(true)``` to the existing configuration per the [vertx docs](https:

[2022-10-28 15:13] rpahli opened #352 "Update Entity not working"
It is currently not possible to update an entity.

Docs: https://github.com/ScorpioBroker/ScorpioBroker/blob/development/docs/en/source/API_walkthrough.rst#updating-an-entity--appending-to-an-entity

It looks like the Controller does not contain an update method: https://github.com/ScorpioBroker/ScorpioBroker/blob/development/Core/EntityManager/src/main/java/eu/neclab/ngsildbroker/entityhandler/co

[2022-10-29 15:09] ScorpioBroker commented on #352
Hi,

sorry this an error in the documentation. The update requires the /attrs after the entity id.
this is wrong in our documentation but correct in the impl (chapter 6.6 in the spec).
@amitrnec could you please check that part of the documentation.

Thanks

[2022-10-31 05:22] amitrnec commented on #352
Hi,
Now have corrected in document #353

Thanks

[2022-10-31 07:25] #341 closed, assigned to mohitNEC

[2022-10-31 07:26] #345 closed, assigned to amitrnec

[2022-11-02 10:57] #352 closed, assigned to amitrnec

[2022-11-03 06:57] Gaurav-sen1 opened #354 "Subscription is not working"
Description:
Scorpio Subscription is not working while provisioning an IOT Device.

**Subscription  API :**
curl --location --request POST ' _contextBrokerIP_:9090/ngsi-ld/v1/subscriptions/' \
--header 'Content-Type: application/json' \
--header 'fiware-service: fiwaredt' \
--header 'fiware-servicepath: /digitaltwin' \
--data-raw '{
  "id": "urn:ngsi-ld:Entity:FdtEntity16",
  "type": "Subscription

[2022-11-03 16:30] amitrnec commented on #354
Hi,
Please add header 'NGSILD-Tenant: fiwaredt' instead of 'fiware-service: fiwaredt' and 'fiware-servicepath: /digitaltwin' header in case of subscription.

Thanks,
Amit Raghav.

[2022-11-04 06:56] Gaurav-sen1 commented on #354
Hello Amit Raghav sir,

Thank you for the guidance, it is working now.

[2022-11-04 09:29] steveaitch opened #355 "Notifications when connection closed causing SocketException"
I have a notification set up to deliver to an AWS API Gateway endpoint. However, after a time the idle HTTP connection is closed by the other side (or a load balancer) but Apache HTTP Client doesn't handle this situation silently and instead throws an exception when the next notification tries and writes to the socket, so the notification is lost:

	2022-11-04 08:55:07.234 ERROR 8 --- [pool-7-thre

[2022-11-04 09:39] steveaitch opened #356 "Subscription specifying a notification HTTP header failing"
I'm trying to set up a subscription which specifies a header to send with the notification but it is giving a Java error:

	{
		"id": "urn:ngsi-ld:Subscription:subname",
		"type": "Subscription",
		"entities": [
			{
				"type": "https://uri.fiware.org/ns/data-models#AirQualityObserved"
			}
		],
		"notification": {
			"endpoint": {
				"uri": "https://XXX.execute-api.eu-west-1.amazonaws.com/defau

[2022-11-08 20:03] PascalDesmet commented on #242
Hi @ScorpioBroker,
As I'm writing an application to visualize data in brokers, this endpoint could help me a lot as there are multiple breaking changes between versions. I could use this endpoint to guide my application in using the correct syntax when calling the API.

Kind regards,
Pascal Desmet

[2022-11-08 20:22] PascalDesmet opened #357 "GET /ngsi-ld/v1/types?details=true returns TenantNotFound error"
I've installed version 3.0.1 and the call http://localhost:9090/ngsi-ld/v1/types?details=true returns
{
    "type": "https://uri.etsi.org/ngsi-ld/errors/TenantNotFound",
    "title": "Tenant not found.",
    "details": "Tenant not found."
}

as the same call in version 2.x worked fine returning an array of EntityTypes each having an array of attributeNames.

Is this broken or do I have to construc

[2022-11-09 06:11] amitrnec commented on #357
Hi
Thanks for the information.
Can you share the full name of version that you are using?

Thanks,
Amit Raghav.

[2022-11-09 10:50] #354 closed, assigned to amitrnec

[2022-11-16 07:51] amitrnec commented on #356
Hi,
This issue has been fixed #360

Thanks.

[2022-11-21 04:11] amitrnec opened #363 "Tenant issue while restarting quarkus branch"
Hi,
When we are trying to create/get entity operation on tenant after restarting the quarkus branch we are getting following error:

{
    "detail": "FATAL: database \"ngbopeniot\" does not exist (3D000)",
    "type": "https://uri.etsi.org/ngsi-ld/errors/InternalError",
    "title": "Internal error"
}

[2022-11-21 04:23] amitrnec commented on #355
Hi,
Now this issue has been fixed #364

Thanks,
Amit.

[2022-11-28 09:01] djs0109 commented on #140
Hi,
I try to follow the [tutorial ](https://github.com/FIWARE/tutorials.LD-Subscriptions-Registrations) with scorpio broker. However, I can not get data from `context provider` with or without the above workaround. Is this tutorial still updated? Or maybe there are other tutorials for this topic?